﻿<div class="container-fluid order-details-page">
    <div class="row">
        <div class="col-md-12 nav-steps nopadding margin-t-10 border-bottom">
            <div class="page-steps">
                <a ui-sref="admin.orders" class="medium-blue-1">{{'ORDERS'| translate}}</a>
                <a href=""> &#47; {{'MANAGE_ORDERS'| translate}}</a>
            </div>
        </div>
    </div>
    <div class="row" ng-if="od.isBuyer">
        <p class="col-md-12 nopadding paragraph">{{'ORDER'| translate}}:<span ng-bind="od.details.poNumber"></span></p>
    </div>

    <div class="row margin-b-30" ng-repeat="order in od.details.orderSellerList">
        <div class="row order-details">
            <div class="col-md-12 order-details-row">
                <div class="col-md-6 col-sm-6 col-xs-12 padding-lr-5">
                    <p class="order-id margin-0">{{'ORDER'| translate}}: <span ng-bind="order.poNumber"></span><span class="order-status">{{order.statusTypeName}}</span></p>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12 text-right date">
                    <div class="form-inline">
                        <div class="form-group margin-0 fields-group creation-date">
                            <label>{{'CREATION_DATE'| translate}}:</label>
                            <span class="input-date">{{order.orderCDate.getMonth() + 1}}</span>
                            <span class="bar">&#47;</span>
                            <span class="input-date">{{order.orderCDate.getDate()}}</span>
                            <span class="bar">&#47;</span>
                            <span class="input-date">{{order.orderCDate.getFullYear()}}</span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="border">
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-12 bold-paragraph">
                    <p class="margin-0 small-screen" ng-if="od.isBuyer">{{'SHIPS_FROM'| translate}}:<span>{{order.shippingTax.displayName}} {{order.shippingTax.days}}</span></p>
                    <p>{{'TOTAL_STYLES'| translate}}:<span ng-bind="order.productItems.length"></span></p>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12 bold-paragraph nopadding xs-padding">
                    <p class="margin-0" ng-if="od.isBuyer">{{'PRODUCT_COST'| translate}}:<span ng-bind="order.totalProductCost | currency : undefined : 0"></span></p>
                    <p ng-if="od.isBuyer">{{'SHIPPING'| translate}} &#38; {{'DUTIES'| translate}}:<span ng-bind="order.totalShippingCost | currency : undefined : 0"></span></p>
                </div>
                <div class="col-md-5 col-sm-5 col-xs-12 text-right sm-margin" ng-class="{'margin-t-20' : od.isBuyer}">
                    <p class="bold-paragraph total-cost">{{'TOTAL_LANDED_COST'| translate}}:<span ng-bind="od.isBuyer ? (order.totalLC | currency: undefined: 0) : (order.totalLC | currency: undefined: 2)"></span></p>
                </div>
            </div>

            <div class="row">
                <div class="line-up">
                    <div class="col-md-6 col-sm-6 col-xs-6 nopadding margin-b-10">
                        <p class="margin-0 view-products-section" ng-click="od.showProducts(order)"><span class="caret-caret"><i class="fa" ng-class="{'fa-caret-down' : order.viewProducts , 'fa-caret-right' : !order.viewProducts}"></i></span>{{'VIEW_PRODUCTS'| translate}}</p>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6 form-group text-right confirm-products nopadding">
                    </div>
                </div>

                <div class="row row-margin xs-align" ng-show="order.viewProducts" ng-repeat="product in order.productItems">
                    <div class="col-md-12 col-sm-12 open line-down sm-padding">
                        <div class="row row-position">
                            <div class="col-md-1 col-sm-2 col-xs-12 product-image text-center relative">
                                <img ng-src="{{product.productDetails.mainImageLink}}" />
                            </div>
                            <div class="col-md-3 col-sm-2 col-xs-12 product-items">
                                <p class="info" ng-bind="product.productDetails.productName"></p>
                                <p class="prod-brand" ng-bind="product.productDetails.brandName"></p>
                                <p class="info info-sku">Model Number: <span>{{product.productDetails.modelNumber}}</span></p>
                                <p class="info info-sku">Color Code: <span>{{product.productDetails.colorCode}}</span></p>
                                <p class="info info-sku">Material Code : <span>{{product.productDetails.materialCode}}</span></p>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12 units-sizes-shipment dropdown qty-sizes">
                                <div class="row unit-shipment dropdown-toggle" data-toggle="dropdown" id="dLabel">
                                    <div class="col-md-2 col-sm-2 col-xs-6 nopadding text-center">
                                        <span class="units-changed" ng-bind="product.orderedTotalUnits" ng-if="product.isChanged"></span>&nbsp;
                                    </div>
                                    <div class="col-md-3 col-sm-3 col-xs-6 nopadding xs-position">
                                        <span class="unit-count">
                                            <span class="bold" ng-bind="product.totalUnits"></span>
                                            {{'UNITS'| translate}}
                                        </span>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-6 nopadding text-center">
                                        <span class="units-price">@&nbsp;{{od.isBuyer ? (product.lmUnitPrice | currency : undefined : 0) : (product.offerCost | currency : undefined : 2)}}</span>
                                    </div>
                                    <div class="col-md-3 col-sm-3 col-xs-6 nopadding text-center">
                                        <span class="total-price bold">{{od.isBuyer ? (product.totalLandedCost | currency: undefined : 0) : (product.totalProductCost | currency: undefined : 2)}}&nbsp;&nbsp;</span>
                                    </div>
                                </div>
                                <ul class="dropdown-menu qty-sizes-menu" aria-labelledby="dLabel">
                                    <li>
                                        <div>
                                            <p class="dropdown-title" ng-bind="product.sellerAlias"></p>
                                            <p class="dropdown-subtitle">{{'SHIPS_FROM'| translate}}&#58;<span ng-bind="product.shippingTax.displayName"></span></p>
                                        </div>
                                    </li>
                                    <li class="detail-order">
                                        <div class="row margin-0">
                                            <div class="col-md-3 col-sm-3 col-xs-3 nopadding">
                                                <p>{{'SIZE'| translate}}</p>
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-6 nopadding">
                                                <p class="text-center">{{'CONFIRMED_ORDER'| translate}}</p>
                                            </div>
                                            <div class="col-md-3 col-sm-3 col-xs-3 text-right nopadding">
                                                <p class="detail-qty">{{'QTY'| translate}}</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="scrollbar-bar">
                                        <div class="items" ng-repeat="size in product.sizeItems">
                                            <div class="row margin-0">
                                                <div class="col-md-3 col-sm-3 col-xs-3 nopadding">
                                                    <p class="size" ng-bind="size.sizeName"></p>
                                                </div>
                                                <div class="col-md-6 col-sm-6 col-xs-6 text-center">
                                                    <span ng-if="od.isBuyer || (!od.isBuyer && order.hideActions)" ng-bind="size.unitsToDisplay" ng-class="{'changed' : size.isChanged}"></span>
                                                    <form class="relative" name="od.productSizeForm{{size.orderSellerItemId}}" ng-if="!od.isBuyer && !order.hideActions">
                                                        <input autocomplete="off" type="number" required ng-pattern="/^\d+((\.|\,)\d+)?$/" ng-maxlength="8" ng-max="size.units" ng-min="0" class="input-size select-input" name="quantityNewValue" ng-model="size.displayUnits" />
                                                        <div class="error-messages" ng-messages="od['productSizeForm' + size.orderSellerItemId].$error" ng-show="od['productSizeForm' + size.orderSellerItemId].quantityNewValue.$dirty" role="alert">
                                                            <div ng-message="required" class="message">{{'INPUT_REQUIRED'| translate}}</div>
                                                            <div ng-message="pattern" class="message">{{'INVALID_INPUT'| translate}}</div>
                                                            <div ng-message="maxlength" class="message">{{'INVALID_INPUT'| translate}}</div>
                                                            <div ng-message="max" class="message">{{'INVALID_INPUT'| translate}}</div>
                                                            <div ng-message="min" class="message">{{'INVALID_INPUT'| translate}}</div>
                                                        </div>
                                                    </form>
                                                </div>
                                                <div class="col-md-3 col-sm-3 col-xs-3 qty-details text-right nopadding">
                                                    <div class="row margin-0">
                                                        <div class="col-md-6 col-sm-6 col-xs-6 nopadding">
                                                            <p class="margin-0">{{'OF'| translate}}</p>
                                                        </div>
                                                        <div class="col-md-6 col-sm-6 col-xs-6 nopadding text-center">
                                                            <span ng-bind="size.units"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="text-center items" ng-if="!od.isBuyer && !order.hideActions">
                                        <button class="btn-lm btn-lm-add margin-t-10" ng-click="od.confirmUnits($event, product, order)">{{'CONFIRM'| translate}}</button>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12 total-units-cost nopadding">
                                <p>{{'TOTAL_UNITS'| translate}}: <span ng-bind="product.totalUnits"></span></p>
                                <p>{{'TOTAL_COST'| translate}}: <span ng-bind="od.isBuyer ? (product.totalProductCost | currency: undefined : 0) : (product.totalProductCost | currency: undefined : 2)"></span></p>
                                <p ng-if="od.isBuyer">{{'TOTAL_LANDED_COST'| translate}}: <span ng-bind="product.totalLandedCost | currency: undefined : 0"></span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" ng-if="order.canCancel || order.canReConfirm">
            <div class="col-md-6">
                <button ng-if="order.canCancel" class="btn-lm confirm-btn inverse margin-t-20" ng-click="od.cancelOrder($event, order, 1)">{{'CANCEL_ORDER'| translate}}</button>
            </div>
            <div class="col-md-6 text-right">
                <button ng-if="order.canReConfirm" class="btn-lm confirm-btn margin-t-20" ng-click="od.confirmOrderBuyer($event, order)">{{'CONFIRM_ORDER'| translate}}<span><i class="fa " ng-class="{'fa-spinner spinning' : order.isLoading, 'fa-angle-right' : !order.isLoading}" aria-hidden="true"></i></span></button>
            </div>
        </div>
        <div class="row" ng-if="!od.isBuyer && !order.hideActions">
            <div class="col-md-6">
                <button class="btn-lm confirm-btn inverse margin-t-20" ng-click="od.cancelOrder($event, order, 0)">{{'REJECT_ORDER'| translate}}</button>
            </div>
            <div class="col-md-6 text-right">
                <button ng-if="order.canGoToPickupInformation" class="btn-lm confirm-btn margin-t-20" ng-click="od.goToPickupInformation($event, order)">{{'GO_TO_ORDER_PICKUP_INFORMATION'| translate}}<span><i class="fa " ng-class="{'fa-spinner spinning' : order.isLoading, 'fa-angle-right' : !order.isLoading}" aria-hidden="true"></i></span></button>
                <button class="btn-lm confirm-btn margin-t-20" ng-click="od.confirmOrderSeller($event, order)">{{'CONFIRM_ORDER'| translate}}<span><i class="fa " ng-class="{'fa-spinner spinning' : order.isLoading, 'fa-angle-right' : !order.isLoading}" aria-hidden="true"></i></span></button>
            </div>
        </div>
        <div class="row" ng-if="!od.isBuyer && order.hideActions">
            <div class="col-md-6">
            </div>
            <div class="col-md-6 text-right">
                <button class="btn-lm confirm-btn margin-t-20" ng-click="od.goToUploadDocuments($event, order)">{{'GO_TO_UPLOAD_ORDER'| translate}}<span><i class="fa " ng-class="{'fa-spinner spinning' : order.isLoading, 'fa-angle-right' : !order.isLoading}" aria-hidden="true"></i></span></button>
            </div>
        </div>
    </div>
</div>
