﻿<table border="0" cellpadding="0" cellspacing="0" width="600" style="font-size: 14px; color: #fff; margin: 0 auto;">
    <tr style="text-align:center;">
        <td style="width:100%;">
            <img src="http://192.168.1.148:93/assets/images/logos/3.png" width="240" alt="logo" />
        </td>
    </tr>
    <tr>
        <td style="padding: 15px 0 0 0;">
            <p style="font-family: 'Futura PT'; font-size: 20px; text-transform: capitalize; color:#383838; text-align: center; margin: 0; line-height: 36px;">hi <span>john doe buyer</span>!</p>
        </td>
    </tr>
    <tr>
        <td style="padding: 15px 0 0 0;">
            <img src="http://192.168.1.148:93/assets/images/email-pic_03.png" width="600" alt="logo" />
        </td>
    </tr>
    <tr>
        <td style="padding: 15px 0 0 0;"></td>
    </tr>
    <tr>
        <td style="font-family: 'Futura PT'; color: #383838; text-align: center; font-size: 16px; letter-spacing: 0.025em; line-height: 24px; padding: 15px 0 15px 0; background-color: #f1f1f1; border-radius: 5px;">
            <p style="margin: 0;">Your business <span style="font-weight: bold; text-transform: capitalize;">buyer john doe</span> has been approved for Luxury Market!</p>
            <p style="margin: 0;">A member of our team will reach out shortly to gather banking and payment information and walk you through initial set up.</p>
            <p style="margin: 0;">Please access your account here <a href="#" style="text-decoration: underline; color: #383838;">link</a>. We are excited to have you onboard!</p>
            <p style="margin: 0;">The Team at Luxury Market</p>
        </td>
    </tr>
    <tr>
        <td style="padding: 15px 0 0 0;"></td>
    </tr>
    <tr>
        <td style="background-color: #e32323; border-radius: 5px; padding: 15px 0; text-align: center;">
            <a href="#" style="font-family: 'Futura PT'; font-size: 18px; text-decoration: none; margin: 0; color: #fff; letter-spacing: 0.05em;">Questions? Visit the <span style="text-decoration: underline; text-transform: capitalize;">help center</span></a>
        </td>
    </tr>
    <tr>
        <td style="padding: 15px 0 0 0;"></td>
    </tr>
    <tr>
        <td style="font-family: 'Futura PT'; text-align: center; color: #000;">
            <p style="font-size: 15px; line-height: 24px; text-transform: uppercase; margin: 0; font-weight: bold;">luxury market</p>
            <a href="#" style="font-size: 12px; line-height: 25px; color: #000; letter-spacing: 0.025em;">www.luxurymarket.com</a>
            <p style="font-size: 13px; margin: 0; line-height: 24px; text-transform: capitalize; letter-spacing: 0.025em;">phone: <span>0844 123 1234</span> | email: <span style="text-transform: none;"><a href="#" style="color: #000;">support@luxurymarket.com</a></span></p>
            <p style="font-size: 13px; text-transform: capitalize; letter-spacing: 0.025em; line-height: 24px; margin: 0;">Luxury Market<span style="padding: 0 5px 0 5px;">-</span><span style="text-transform: none;">230 West 38th Street, 5th Floor</span><span style="padding: 0 5px 0 5px;">-</span><span style="text-transform: none;">New York</span>,<span>NY 10018</span></p>
            <p style="font-size: 13px; letter-spacing: 0.025em; line-height: 24px; margin: 0;">Copyright &#169; 2017 Luxury Market, All Rights Reserved.</p>
        </td>
    </tr>
</table>

