﻿.top-register {
  min-height: calc(100vh - 275px);
    .customer-title {
        text-transform: uppercase;
        font-weight: 600;
        text-align: center;
        color: $black;
    }

    .form-group {

        .floating {
            left: 20px;
        }

        .error-messages {
            top: 45px;
            left: 20px;
        }

        &.register {

            .error-messages {
                top: 67px;
                left: 20px;

                &.error-textarea {
                    top: 100px;
                }
            }

            .description-box {
                max-height: 100px;
                height: 100px;
            }
        }

        input[type=checkbox] + {
            label {
                span {
                    margin: 0 13px 0 0px;
                }
            }
        }

        &.select-section {

            .select-row {
                width: 100%;
                text-transform: uppercase;
                padding: 10px 0;

                &:focus {
                    outline: none;
                }
            }
        }
    }
}
