﻿
.shipment-title {
    font-size: 20px;
    text-transform: $upper-text;
    font-weight: $heavy-weight;
    color: $black;
    letter-spacing: 0.1em;
    margin: 0;
    line-height: 36px;

    @media (max-width: $screen-sm) {
        font-size: 16px;
    }

    @media (max-width: $screen-xs) {
        text-align: center;
    }
}

.btn-check {

    .checkout-btn {
        width: 250px;
        font-size: 16px;
        line-height: 36px;
        letter-spacing: 0.1em;
        padding: 0;

        @media (max-width: $screen-sm) {
            width: 200px;
            font-size: 13px;
        }

        .arrow-right {
            position: relative;
            left: 12px;
            top: 1px;
            font-size: 20px;

            @media (max-width: $screen-sm) {
                font-size: 15px;
            }
        }
    }

    @media (max-width: $screen-xs) {
        text-align: left;
        margin-top: 10px;
    }
}

.shipment-step {
    font-weight: $heavy-weight;
    letter-spacing: 0.05em;
    color: $black;
    font-size: 18px;
    margin: 0px;
    line-height: 36px;

    @media (max-width: $screen-sm) {
        font-size: 15px;
    }
}

.bold-paragraph {
    font-weight: $heavy-weight;
    letter-spacing: 0.05em;
    color: $black;
    line-height: 24px;
    font-size: 16px;

    @media (max-width: $screen-lg) {
        font-size: 13px;
    }

    span {
        font-weight: $light-weight;
        padding-left: 5px;
    }

    &.total-cost {
        text-transform: $capital-text;
        font-size: 20px;

        @media (max-width: $screen-md) {
            font-size: 16px;
        }
        @media (max-width: $screen-sm) {
            font-size: 15px;
        }
    }

    &.xs-padding {
        @media (max-width: $screen-xs) {
            padding: 0 15px; 
        }
    }
}

.view-products-section {
    text-transform: $capital-text;
    letter-spacing: 0.05em;
    cursor: pointer;
    font-size: 16px;
    line-height: 24px;

    .caret-caret {
        color: $black;
        padding-right: 5px;
    }

    @media (max-width: $screen-md) {
        font-size: 13px;
    }
}

.sm-view {
    @media (max-width: $screen-md) {
        position: relative;
        top: 20px;
    }
}

.sm-margin {
    margin-top: 5px;
}

.open {

    .product-image {

        img {
            width: 100%;
            max-width: 60px;
        }
    }

    .product-items {
        color: #000;
        letter-spacing: 0.05em;
        padding: 10px 0 0 25px;
        font-size: 18px;

        @media (max-width: $screen-land) {
            font-size: 12px;
            padding: 10px 0 0 0px;
        }

        .info {
            font-weight: $heavy-weight;
            margin: 0;
            line-height: 24px;
        }

        .prod-brand {
            line-height: 18px;
            margin: 0;
        }
    }

    .units-sizes-shipment {
        padding: 10px 0 0 0;
        color: $black;
        cursor: pointer;

        .unit-shipment {
            border: 1px solid $black;
            margin: 0px 0 5px 0;
            min-width: 350px;

            @media (max-width: $screen-land) {
                min-width: 265px;
                font-size: 12px;
            }

            @media (max-width: $screen-md) {
                font-size: 10px;
                min-width: 190px;
            }

            .column-size {
                padding: 2px 2px;
                line-height: 15px;
                letter-spacing: 0.05em;

                @media (max-width: $screen-md) {
                    padding: 2px 3px;
                }

                span {
                    font-weight: $heavy-weight;
                }
            }

            .unit-count {
                text-transform: $upper-text;
            }
        }
    }

    .total-units-cost {
        text-align: right;
        color: $black;
        letter-spacing: 0.05em;

         @media (max-width: $screen-land) {
            font-size: 12px;
        }

        @media (max-width: $screen-sm) {
            font-size: 11px;
        }

        p {
            text-transform: $capital-text;
            font-weight: $heavy-weight;
            margin: 0;

            span {
                font-weight: $light-weight;
            }
        }

        @media (max-width: $screen-xs) {
            text-align: left;
        }
    }
}

.line-up-one {
    border-top: 1px solid $very-light-gray;
    padding: 10px 0px;
}

.line-up-only-one {
    border-top: none;
    padding: 10px 0px;
}

.line-down {
    border-top: 1px solid $very-light-gray;
    margin: 0;
}

.row-margin {
    margin: 0 -5px;
}
