﻿.address-container {

    .title-address {
        margin: 40px 0 0 25px;

        @media(max-width: $screen-sm) {
            margin: 40px 0 0 15px;
        }
    }

    .change-details {
        font-size: 16px;
        font-weight: $heavy-weight;
        text-transform: $capital-text;
        letter-spacing: 0.05em;

        p {
            margin-bottom: 0px;

            @media(max-width: $screen-md) {
                font-size: 13px;
            }

            span {
                font-weight: $light-weight;
            }

            &.change-name {
                font-size: 18px;
                text-transform: $upper-text;
                font-weight: $light-weight;
                margin-bottom: 10px;

                @media(max-width: $screen-md) {
                    font-size: 15px;
                }
            }
        }
    }

    .icon-container {
        position: relative;
        //bottom: 10px;
        padding-right: 0;

        .land-view {
            @media(max-width: $screen-land) {
                margin: 0;
            }
        }

        .icon-wrapper {

            @media(max-width: $screen-sm) {
                width: 35px;
                height: 35px;
                font-size: 16px;
            }
        }

        @media(max-width: $screen-md) {
            padding: 0;
        }
    }

    .btn-location {
        margin-top: 20px;

        .btn-lm-empty {
            margin-left: 25px;

            @media(max-width: $screen-md) {
                width: 140px;
                font-size: 12px;
            }

            @media(max-width: $screen-sm) {
                margin-left: 15px;
            }
        }
    }
}



//Rollover changes

.address-wrapper {
    padding: 25px 0px;
    border-top: 1px solid transparent;
    float: left;
    width: 100%;
    margin-left: 15px;

    @media(max-width: $screen-sm) {
        margin-left: 0;
    }

    &:hover {
        & + .address-wrapper {
            border-top-color: $black;
            float: left;
            width: 100%;
            padding: 25px 0px;
            margin-left: 15px;

            @media(max-width: $screen-sm) {
                margin-left: 0;
            }
        }

        .icon-container {

            .icon-wrapper {
                font-size: 20px;
                cursor: pointer;
                background-color: $black;
                color: white;
                width: 40px;
                height: 40px;
                display: inline-block;
                border-radius: 30px;
                padding: 7px 11px;
                border: 1px solid $black;

                &:focus {
                    outline: none;
                }

                @media(max-width: $screen-sm) {
                    width: 35px;
                    height: 35px;
                    font-size: 16px;
                }

                @media(max-width: $screen-xs) {
                    padding: 5px 9px;
                }
            }
        }
    }
}
