﻿

// Container

.product-details-page {
  min-height: calc(100vh - 300px);
}

.container-pages {

    .navigation {

        a {
            &:last-child {
                &:after {
                    display: none;
                }
            }
        }
    }
}

.product-image {

    .first-image {
        text-align: center;
        margin-top: 40px;
        padding: 0 15px;

        img {
            max-height: 500px;
        }
    }

    .images {

        .second-image {
            border: 1px solid $black;
            padding: 0;
        }

        .third-image {
            padding: 0;
            opacity: 0.3;
            transition: ease-in-out opacity 0.4s;

            &:hover {
                opacity: 1;
            }

            img {
                max-height: 200px;
            }
        }
    }


    .product-title {
        color: $black;

        .product-subtitle {
            font-size: 28px;
            font-weight: $heavy-weight;
            letter-spacing: 0.05em;
            margin: 0px;
            line-height: 36px;
            text-transform: $capital-text;

            &:first-letter {
                text-transform: $upper-text;
            }

            @media(max-width: $screen-lg) {
                font-size: 25px;
            }

            @media(max-width: $screen-md) {
                font-size: 21px;
            }
        }

        .brand {
            font-size: 20px;
            line-height: 30px;
            letter-spacing: 0.1em;

            @media(max-width: $screen-lg) {
                font-size: 18px;
            }

            @media(max-width: $screen-md) {
                font-size: 17px;
            }
        }
    }

    .product-details {
        margin-top: 25px;

        .landscape-view {

            @media(max-width: $screen-lg) {
                padding-right: 0;
            }

            @media(max-width: $screen-land) {
                padding-right: 0px;
            }
        }

        .product-info {
            color: $black;
            font-weight: $heavy-weight;
            text-transform: $upper-text;
            margin-bottom: 0;
            font-size: 16px;

            @media(max-width: $screen-lg) {
                font-size: 12px;
            }

            @media(max-width: $screen-md) {
                font-size: 14px;
                white-space: nowrap;
                width: 12em;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            @media(max-width: $screen-land) {
                font-size: 14px;
            }

            @media(max-width: $screen-sm) {
                width: 100%;
                text-overflow: unset;
                white-space: unset;
                overflow: unset;
            }

            span {
                text-transform: none;
                font-weight: $light-weight;
                font-size: 16px;
                margin-left: 3px;
                color: $dark-gray;
                letter-spacing: 0.05em;

                @media(max-width: $screen-lg) {
                    font-size: 14px;
                }

                @media(max-width: $screen-md) {
                    font-size: 13px;
                    margin-left: 0px;
                }

                @media(max-width: $screen-land) {
                    font-size: 14px;
                }
            }
        }
    }

    .price-details {

        .price {
            font-weight: $heavy-weight;
            font-size: 20px;
            letter-spacing: 0.1em;
            margin: 0px;
            line-height: 30px;
            color: $black;

            @media(max-width: $screen-land) {
                font-size: 19px;
            }

            @media(max-width: $screen-md) {
                font-size: 15px;
                line-height: 38px;
            }
        }

        .btn-lm-price {
            /*float: right;*/
            margin-top: -8px;
            letter-spacing: 0.05em;
            padding: 6px 0;
            min-width: 190px;
            font-size: 28px;
            font-weight: $heavy-weight;
            margin-bottom: 10px;
            line-height: 30px;
            cursor: default;

            @media(max-width: $screen-md) {
                font-size: 20px;
                padding: 2px 0;
                margin-top: 2px;
                margin-bottom: 5px;
                float: none;
                min-width: 120px;
            }
        }
    }

    .price-info {
        font-weight: $heavy-weight;
        text-transform: $upper-text;
        color: $black;
        line-height: 24px;
        margin: 0px;
        font-size: 16px;

        @media(max-width: $screen-md) {
            font-size: 12px;
        }

        @media(max-width: $screen-sm) {
            font-size: 11px;
        }

        span {
            text-transform: none;
            font-weight: $light-weight;
            margin: 0 0 0 3px;
            color: $black;
            font-size: 16px;
            letter-spacing: 0.05em;
            line-height: 24px;

            @media(max-width: $screen-md) {
                font-size: 12px;
            }

            @media(max-width: $screen-sm) {
                font-size: 11px;
            }
        }

        .discount-font {
            margin: 0 0 0 35px;
            font-weight: $heavy-weight;
            font-size: 18px;
            letter-spacing: 0.05em;

            @media(max-width: $screen-md) {
                font-size: 14px;
                margin: 0 0 0 30px;
            }
        }

        .star-icon {
            margin: 0 !important;
            padding: 0;
            font-size: 14px;
        }

        .star {
            padding-left: 5px;
        }

        .take-all-buy {
            color: $red-4;
            font-weight: bold;
        }
    }

    .btn-lm-buy {
        font-size: 15px;

        @media(max-width: $screen-land) {
            min-width: 190px;
        }

        @media(max-width: $screen-md) {
            min-width: 120px;
            padding: 3px 0;
            font-size: 10px;
        }

        @media(max-width: $screen-sm) {
            min-width: 120px;
        }
    }

    .details {
        padding-top: 15px;
        color: $black;
        font-weight: $heavy-weight;
        text-transform: $upper-text;
        font-size: 16px;
        letter-spacing: 0.05em;

        @media(max-width: $screen-md) {
            padding-top: 10px;
            font-size: 14px;
        }
    }

    .description {
        color: $black;
        text-transform: none;
        font-weight: $light-weight;
        letter-spacing: 0.05em;
        font-size: 16px;

        @media(max-width: $screen-md) {
            margin-bottom: 0px;
            font-size: 12px;
        }

        h1, h2, h3, h4, h5, h6 {
            font-size: 16px;
            color: $black;
        }

        ul {
            li {
                list-style: circle;
                color: $black;
            }
        }
    }

    .aditional-details {

        .pd-timer-wrapper {
            max-width: 190px;
        }

        .details {
            padding-top: 15px;
            color: $black;
            font-weight: $heavy-weight;
            text-transform: $upper-text;
            font-size: 16px;
        }

        .bold-price {
            font-weight: $heavy-weight;
            font-style: italic;
            font-size: 20px;
            letter-spacing: 0.05em;
            margin: 0 0 0 11px;

            @media(max-width: $screen-xs) {
                font-size: 15px;
            }
        }

        .under-line {
            text-decoration: underline;
        }

        .btn-lm-shopping {
            letter-spacing: 0.1em;
            font-size: 16px;
            padding: 11px 0;
            min-width: 250px;

            @media(max-width: $screen-more-lg) {
                min-width: 240px;
            }

            @media(max-width: $screen-land) {
                padding: 10px 5px;
                font-size: 13px;
            }

            @media(max-width: $screen-md) {
                min-width: 190px;
                font-size: 11px;
            }

            @media(max-width: $screen-sm) {
                min-width: 100px;
                font-size: 13px;
                text-align: right;
                float: right;
            }

            .arrow {
                @media(max-width: $screen-sm) {
                    padding-left: 10px;
                }
            }
        }

        @media(max-width: $screen-sm) {
            padding: 0 15px;
        }
    }

    .arrow-up {
        position: relative;
        left: 25px;
        color: $light-gray;
        font-size: 20px;

        @media(max-width: $screen-md) {
            font-size: 13px;
            left: 10px;
        }
    }

    .lm-lock {
        position: relative;
        left: 2px;
    }


    .padding-xs {
        @media(max-width: $screen-sm) {
            padding: 0 15px;
        }
    }
}

.pd-timer-wrapper {
    text-align: center;
    height: 18px;
    line-height: 18px;

    .pd-timer {
        color: $red-6;
    }
}

// Dropdown-menu

.qty-sizes {

    .qty-sizes-menu {
        width: 300px;
        color: $black;
        box-shadow: 0px 0px 25px rgba(0,0,0,0.250);
        right: 0;
        left: initial;
        z-index: 999999;
        padding: 0 15px;

        @media(max-width: $screen-md) {
            width: 280px;
        }

        @media(max-width: $screen-sm) {
                right: initial;
            }

        .dropdown-title {
            text-transform: $upper-text;
            font-weight: $heavy-weight;
            color: $black;
            margin: 0;
            letter-spacing: 0.5px;

            @media(max-width: $screen-md) {
                font-size: 13px;
            }
        }

        .dropdown-subtitle {
            text-transform: $upper-text;
            color: $black;
            font-size: 13px;

            @media(max-width: $screen-md) {
                font-size: 12px;
            }
        }

        .select-remove {
            font-weight: $heavy-weight;
            padding: 0 15px;

            .remove {
                text-align: right;
            }
        }

        .detail-order {
            text-transform: $upper-text;
        }

        .detail-qty {
            position: relative;
            left: 20px;
        }

        .items {
            font-size: 16px;

            span {
                font-weight: $medium-weight;
            }
        }

        .row-items {
            padding: 0 15px;

            p {
                margin: 0;
            }

            span {
                @media(max-width: $screen-md) {
                    font-size: 13px;
                }
            }

            .align-xs {
                @media(max-width: $screen-sm) {
                    text-align: left;
                }
            }
        }

        .size {
            text-transform: $upper-text;
            padding-right: 0;
            color: $light-gray;
            white-space: nowrap;
            width: 3em;
            overflow: hidden;
            text-overflow: ellipsis;

            @media(max-width: $screen-md) {
                font-size: 14px;
            }

            span {
                color: $black;

                @media(max-width: $screen-md) {
                    font-size: 13px;
                    font-weight: $heavy-weight;
                }
            }
        }

        .square-icon-minus {
            color: $light-gray;
            cursor: pointer;

            @media(max-width: $screen-md) {
                font-size: 12px;
            }

            &:hover {
                color: $black;
            }
        }

        .square-icon-plus {
            color: $light-gray;
            cursor: pointer;

            @media(max-width: $screen-md) {
                font-size: 12px;
            }

            &:hover {
                color: $black;
            }
        }

        .qty-details {
            font-weight: $medium-weight;
            text-align: right;

            @media(max-width: $screen-md) {
                font-size: 14px;
                font-weight: $heavy-weight;
            }
        }

        .btn-lm-add {
            min-width: 88%;

            @media(max-width: $screen-md) {
                font-size: 14px;
                padding: 7px 0px;
            }
        }
    }
}

.action-link {
    color: $medium-blue !important;

    &:hover {
        text-decoration: underline;
    }
}

li.action-link {
    background: none;

    &:hover {
        background: none;
    }

    a {
        background: none;
        color: $medium-blue;

        &:hover {
            color: $medium-blue;
            background: none;
        }
    }
}
