﻿.horizontal-list {
    &.height-horizontal-list {
        min-height: calc(100vh - 310px);
    }

    .subtitle-home {
        .first-subtitle {
            margin: 10px 0 5px 0;
        }
    }

    &.horizontal-list-sticky {
        position: fixed;
        top: 120px;
        width: 100%;
        left: 0;
        right: 0;
        background: #fff;
        z-index: 9999;
        padding-top: 10px;
    }

    .title-section {
        padding: 0 15px;

        .changes {
            line-height: 2em;
        }
    }

    .navigation-position {
        margin-top: 10px;

        @media (max-width: $screen-sm) {
            margin: 10px 0 10px 0;
        }
    }

    .subtitle-home {
        margin-bottom: 10px;
    }

    .line-down-vertical {
        padding: 0 0 10px 0;
    }

    .sidebar {
        .categories-filter {
            .sidebar-title {
                display: none;
            }
        }
    }

    .sidebar-head {
        font-size: 16px;
        text-transform: uppercase;
        color: #000;
        font-weight: 600;
        margin: 0;
        line-height: 25px;
        letter-spacing: .05em;
    }

    .shop-top {

        .navigation-shop {
            display: inline-block;
            padding-right: 0px;

            .sort-name {
                font-size: 14px;
                letter-spacing: 0.06em;
                position: relative;
                top: -2px;

                @media (max-width: $screen-sm) {
                    display: none;
                }
            }

            .sort-filter {
                display: inline-block;
                margin: 0 10px;
                padding: 0;

                .btn-lm-filter {
                    line-height: 14px;
                    padding: 5px 10px;
                    min-width: 189px;
                    font-size: 14px;
                    border-radius: 3px;

                    .angle-down {
                        position: absolute;
                        right: 10px;
                        top: 4px;
                        padding-left: 2px;
                        font-size: 16px;
                    }

                    @media (max-width: $screen-sm) {
                        min-width: 120px;
                    }
                }

                .menu-right {
                    right: 0;
                    left: 0;
                    margin: 0;
                    width: 100%;
                    min-width: 100%;
                    padding: 0;
                    border: 1px solid $black;
                    border-top: none;
                    border-radius: 0;
                    box-shadow: none;
                    z-index: 1;
                    top: 22px;

                    @media (max-width: $screen-sm) {
                        min-width: 150px;
                        width: 150px;
                    }

                    li {
                        a {
                            padding: 5px 10px 5px 10px;
                            cursor: pointer;
                            text-transform: $capital-text;
                            color: $black;
                            letter-spacing: 0.05em;
                            line-height: 16px;

                            &:hover {
                                background-color: $black;
                                color: $white;
                            }
                        }

                        &.active {
                            display: none;

                            a {
                                background-color: #cacaca;

                                &:hover {
                                    background-color: $black;
                                    color: $white;
                                }
                            }
                        }
                    }
                }
            }
        }

        .view-mode {
            display: inline-block;
            position: relative;
            top: -1px;

            .reorder-icon {
                font-size: 20px;
                vertical-align: middle;
                cursor: pointer;
                color: $black;

                /*& + .reorder-icon {
                    margin-left: 5px;
                }*/

                &.activ {
                    color: $gray-light-1;
                }
            }
        }
    }

    .main-content-horizontal {
        text-align: right;
        margin-bottom: 11px;

        .border-up {
            border-bottom: 1px solid $very-light-gray;
        }

        .product-details-row {
            color: $black;
            padding: 2px 0px;

            .img-md {

                & > a {
                    height: 200px;
                    display: block;
                    overflow: hidden;
                    position: relative;
                    margin: 0;

                    @media (max-width: $screen-sm) {
                        padding: 0;
                    }

                    & > img {
                        position: relative;
                        top: 50%;
                        transform: translateY(-50%);

                        @media (max-width: $screen-sm) {
                            transform: translateY(-40%);
                        }

                        @media (max-width: $screen-xs) {
                            max-width: 100%;
                        }
                    }

                    & > .sold-out-overlay {
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        right: 0;
                        left: 0;
                        background: rgba(230, 230, 230, 0.5);
                    }

                    & > .sold-out-text {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%);
                        color: #000;
                        background: rgba(255, 255, 255, 0.6);
                        border: 1px solid #000;
                        font-weight: bold;
                        padding: 10px;
                        font-size: 16px;

                        @media (max-width: $screen-xs) {
                            transform: translate(-50%, -50%);
                        }
                    }
                }

                @media (max-width: $screen-md) {
                    margin: 20px 0;
                }

                @media (max-width: $screen-sm) {
                    margin: 0px;
                }
            }

            .about-product {
                position: relative;
                left: 0;
                text-align: left;
                top: 50px;

                .brand {
                    font-size: 16px;
                    font-weight: $heavy-weight;
                    text-transform: $upper-text;
                    letter-spacing: 0.05em;
                    line-height: 20px;

                    .take-all {
                        background-color: $red-4;
                        color: white;
                        font-size: 12px;
                        line-height: 14px;
                        font-weight: 500;
                        padding: 2px 4px;
                        margin-left: 5px;
                    }

                    @media (max-width: $screen-lg) {
                        font-size: 13px;
                    }
                }

                .information {
                    font-size: 16px;
                    line-height: 33px;
                    letter-spacing: 0.05em;
                    white-space: nowrap;
                    width: 95%;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    /*text-transform: $lower-text;*/

                    /*&::first-letter {
                        text-transform: $upper-text;
                    }*/

                    @media (max-width: $screen-lg) {
                        width: 10em;
                    }

                    @media (max-width: $screen-md) {
                        font-size: 13px;
                    }

                    &:hover {
                        width: 100%;
                        cursor: pointer;
                    }
                }

                .detail {
                    text-transform: $upper-text;
                    font-weight: $heavy-weight;
                    line-height: 20px;
                    overflow: hidden;
                    text-overflow: ellipsis;

                    span {
                        text-transform: $capital-text;
                        font-weight: $light-weight;
                        padding-left: 5px;
                        white-space: nowrap;
                        width: 15em;
                        overflow: hidden;
                        text-overflow: ellipsis;

                        &:hover {
                            width: 100%;
                            cursor: pointer;
                            z-index: 1;
                            position: relative;
                            background-color: $white;
                        }

                        &::first-letter {
                            text-transform: $upper-text;
                        }
                    }

                    @media (max-width: $screen-lg) {
                        font-size: 12px;
                    }

                    &:hover {
                        overflow: inherit;
                    }
                }

                @media (max-width: $screen-lg) {
                    left: 0px;
                }

                @media (max-width: $screen-md) {
                    padding: 0px;
                }

                @media (max-width: $screen-sm) {
                    padding: 0px 15px;
                    top: 25px;
                }
            }

            .price-part {
                margin-top: 50px;

                .best-price {
                    letter-spacing: 0.05em;
                    line-height: 24px;

                    font: {
                        style: italic;
                        weight: $heavy-weight;
                        size: 18px;
                    }

                    .lg-display {
                        @media (max-width: $screen-lg) {
                            text-align: center;
                        }

                        @media (max-width: $screen-md) {
                            padding: 0;
                            text-align: right;
                        }

                        @media (max-width: $screen-sm) {
                            padding: 0 15px;
                        }
                    }

                    .lg-align {

                        @media (max-width: $screen-md) {
                            padding: 0 15px;
                            text-align: right;
                        }
                    }

                    @media (max-width: $screen-lg) {
                        font-size: 14px;
                    }
                }

                .red-btn {
                    min-width: 210px;
                    width: 210px;
                    font-size: 16px;
                    background-color: $red-4;
                    margin-top: 10px;
                    padding: 6px 25px;

                    span {
                        font-size: 25px;
                        position: relative;
                        left: 20px;
                        top: 2px;

                        @media (max-width: $screen-sm) {
                            left: 10px;
                            font-size: 15px;
                        }
                    }

                    @media (max-width: $screen-lg) {
                        width: 100%;
                        min-width: 100%;
                        font-size: 13px;
                    }

                    @media (max-width: $screen-sm) {
                        font-size: 10px;
                    }
                }

                .empty-btn {
                    background-color: $white;
                    color: $black;
                    padding: 0;
                    line-height: 24px;
                    font-weight: $heavy-weight;
                    text-align: right;
                    letter-spacing: 0.05em;
                    min-width: 210px;
                    width: 210px;
                    margin-top: 10px;

                    span {
                        font-size: 23px;
                        position: relative;
                        top: 2px;
                        padding-left: 10px;

                        @media (max-width: $screen-md) {
                            font-size: 16px;
                            top: 1px;
                            padding-left: 13px;
                            right: 7px;
                        }
                    }

                    @media (max-width: $screen-md) {
                        font-size: 11px;
                    }
                }

                @media (max-width: $screen-md) {
                    text-align: right;
                }

                @media (max-width: $screen-sm) {
                    margin: 30px 0;
                }
            }

            .product-checkbox {

                .form-products {
                    top: 100px;

                    input[type=checkbox] + label span {
                        margin: 0;
                        height: 24px;
                        width: 24px;

                        @media (max-width: $screen-xs) {
                        height: 15px;
                        width: 15px;
                    }
                    }

                    @media (max-width: $screen-lg) {
                        right: 10px;
                    }

                    @media (max-width: $screen-sm) {
                        right: 0px;
                        top: 80px;
                    }
                }
            }

            p {
                margin: 0;
            }
        }
    }

    .btn-lm-list {
        line-height: 15px;
        padding: 6px 15px;
        text-transform: $capital-text;
        min-width: 122px;
        background-color: $gray-lighten-6;

        &.red {
            background-color: $red-4;
            color: $white;
        }

        @media (max-width: $screen-lg) {
            min-width: 110px;
            font-size: 12px;
        }
    }

    &.text-start {
        text-align: left;
        margin: 20px 0;
    }

    .btn-lm-list {
        background-color: $black;

        &.red {
            background-color: $red-4;
            color: $white;
        }

        &.disabled {
            background-color: #827e7e;
        }
    }

    .no-results {
        padding: 20px;

        p {
            color: $black;
            font-size: 20px;
        }
    }
    // .no-products {
    //   height: calc(100vh - 310px);
    // }
    .selected-form {
        .xs-view {
            @media (max-width: $screen-sm) {
                padding: 0 15px;
            }
        }
    }
}


.sticky-element {

    .hide-all {
        display: none;
    }

    .luxury-nav {
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        transition: all 0.5s;
    }

    &.header-luxury {
        position: fixed;
        width: 100%;
        z-index: 2;
        top: 0;
        background-color: $white;
        -webkit-transition: height 0.5s;
        -moz-transition: height 0.5s;
        transition: height 0.5s;
        padding: 0;

        .top-header {
            padding: 5px 0 0px 0 !important;
            -webkit-transition: all 0.5s;
            -moz-transition: all 0.5s;
            transition: all 0.5s;

            .logo {
                img {
                    max-width: 75%;
                }
            }

            .box-control {
                line-height: 16px;
            }
        }

        .header-menu {
            /*height: 45px;*/
            -webkit-transition: height 0.5s;
            -moz-transition: height 0.5s;
            transition: height 0.5s;

            .luxury-nav {
                padding: 10px 0;
            }
        }
    }

    &.horizontal-list {
        margin-top: 125px;

        .sticky {
            position: fixed;
            left: 0;
            right: 0;
            width: 100%;
            max-width: 1270px;
            margin: 0 auto;
            z-index: 2;
            background-color: $white;
            -webkit-transition: all 0.5s;
            -moz-transition: all 0.5s;
            transition: all 0.5s;

            @media (max-width: $screen-lg) {
                top: 125px;
            }

            @media (max-width: $screen-md) {
                top: 137px;
            }

            .line-down-vertical {
                padding-top: 11px;

                @media (max-width: $screen-md) {
                    padding: 11px 0;
                }
            }
        }

        .sidebar {
            position: fixed;
            z-index: 2;
            background-color: $white;
            width: 260px;
            top: 150px;
            height: calc(100% - 260px);
            overflow: hidden;
            overflow-y: auto;

            @media (max-width: $screen-lg) {
                width: 245px;
            }

            @media (max-width: $screen-md) {
                width: 110px;
                top: 190px;
            }


            &::-webkit-scrollbar-track {
                //-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
                background-color: $very-light-gray;
            }

            &::-webkit-scrollbar-track {
                //-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
                background-color: $very-light-gray;
            }

            &::-webkit-scrollbar {
                width: 3px;
                background-color: $black;
            }

            &::-webkit-scrollbar-thumb {
                background-color: $black;
            }

            .categories-filter {
                .sidebar-title {
                    display: block;
                }
            }
        }

        .main-content-horizontal {
            margin-left: 260px;
            margin-top: 45px;
            /*margin-bottom: 170px;*/
            @media (max-width: $screen-lg) {
                margin-left: 245px;
            }

            @media (max-width: $screen-md) {
                margin-left: 110px;
                margin-top: 65px;
            }
        }
    }
    /*&.top-footer {
        position: fixed;
        z-index: 5;
        bottom: 0;
        background-color: white;
        width: 100%;
        height: 160px;
        margin-bottom: 0;

        .footer-m {
            padding-top: 10px;
        }
    }*/
}

.sidebar {
    .categories-filter {
        .sidebar-title {
            & > .caret {
                display: none;
            }
        }
    }

    .brands-filter {
        & > .caret {
            display: none;
        }
    }

    .colors-filter {
        & > .caret {
            display: none;
        }
    }
}



@media screen and ( max-height: 820px ) {
    .horizontal-list {
        &.sticky-element {
            .sidebar {
                .categories-filter {
                    .sidebar-title {
                        line-height: 30px;

                        & > .caret {
                            display: inline-block;
                        }
                    }

                    .radio-box {
                        display: none;
                        margin-left: 10px;
                    }

                    .categories-list {
                        display: none;
                        margin-left: 10px;
                    }

                    &.open {
                        .radio-box {
                            display: block;
                        }

                        .categories-list {
                            display: block;
                        }
                    }
                }

                .brands-filter {
                    & + .brands-list {
                        display: none;
                    }

                    &.open + .brands-list {
                        display: block;
                    }

                    & > .caret {
                        display: inline-block;
                    }
                }

                .colors-filter {
                    & + .colors-list {
                        display: none;
                    }

                    &.open + .colors-list {
                        display: block;
                    }

                    & > .caret {
                        display: inline-block;
                    }
                }

                .colors-list, .brands-list {
                    &.scrollbar-bar {
                        max-height: 250px;
                    }
                }
            }
        }
    }
}

@media screen and ( min-height: 821px ) {
    .sidebar {
        .categories-filter {
            .sidebar-title {
                & > .caret {
                    display: none;
                }
            }
        }

        .brands-filter {
            & > .caret {
                display: none;
            }
        }

        .colors-filter {
            & > .caret {
                display: none;
            }
        }
    }
}
