﻿.nav-steps {

    .page-steps {

        span {
            color: $black;
            padding: 0px 5px;
        }
    }
}

.report-information {

    .title-report {
        font-size: 17px;
        letter-spacing: 0.1em;
        line-height: 36px;
        font-weight: $heavy-weight;
        text-transform: $upper-text;
        color: $black;

        @media (max-width: $screen-md) {
            font-size: 15px;
        }
    }

    .info-raport {
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.05em;

        @media (max-width: $screen-md) {
            font-size: 11px;
        }
    }
}

.product-error {

    p {
        font-weight: $heavy-weight;
        letter-spacing: 0.05em;
        line-height: 30px;
        text-transform: $capital-text;
        color: $black;
        margin: 0;

        span {
            font-weight: $light-weight;
            padding-left: 5px;
            color: $middle-gray;
        }

        @media (max-width: $screen-md) {
            font-size: 12px;
        }
    }

    .issue-label {
        font-weight: $heavy-weight;
        letter-spacing: 0.05em;
        line-height: 30px;
        text-transform: $capital-text;
        color: $black;
        margin: 0;
    }

    .textarea-error {
        font-size: 16px;
        font-style: italic;
        letter-spacing: 0.05em;
        line-height: 30px;
        text-align: left;
        padding: 10px 20px;
        resize: none;
        //height: 120px;
        margin-top: 20px;
        border-radius: 0;

        @media (max-width: $screen-md) {
            font-size: 12px;
        }
    }

    .textarea-error:focus {
        outline: none;
        box-shadow: none;
        border-color: $light-gray;
    }

    ::-webkit-input-placeholder {
        color: $gray;
    }

    .error-btn {
        width: auto;
        margin-bottom: 70px;

        @media (max-width: $screen-md) {
            width: 150px;
            font-size: 11px;
            padding: 10px 10px;
        }
    }
}
