﻿<body style="margin: 0;">
    <table style="width: 100%; margin: 0 auto; text-align: center; background-color: #f0f0f0;">
        <tr>
            <td>
                <table border="0" cellpadding="0" cellspacing="0" width="600" style="font-family: Arial; font-size: 16px; color: #000; margin: 20px auto; background-color: #fff; border-radius: 5px;">
                    <tr>
                        <td>
                            <table>
                                <tr>
                                    <td style="width: 5%;"></td>
                                    <td>
                                        <table>
                                            <tr>
                                                <td style="text-align: center; background-color: #fff; padding: 30px 0 35px 0; width:100%;">
                                                    <img src="[@LOGOURL]" style="width: 250px;" alt="logo" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="border-top: 3px solid black; line-height: 0px; padding: 0 0px 20px 0px;"></td>
                                            </tr>
                                            <tr>
                                                <td style="padding: 0 0px 20px 0px; font-family: Arial; font-size: 20px;">
                                                    <p style="text-transform: uppercase; font-weight: 600; text-align: center; line-height: 36px; letter-spacing: 0.08em; margin: 0;">
                                                        thank you for your request
                                                    </p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding: 0 0px 15px 0px; letter-spacing: 0.05em; font-family: Arial; font-weight: 100;font-size: 16px; text-align: center;">
                                                    <p style="margin: 0px 0px 10px 0px;">Welcome to Luxury Market <span>[@CONTACTNAME]</span>,</p>
                                                    <p style="margin: 0px 0px 10px 0px; letter-spacing: 0.05em">To begin shopping, please access your new<br /> account through the link below</p>
                                                    <p style="margin: 0px 0px 10px 0px; letter-spacing: 0.05em">A Luxury Market representative will reach out shortly to answer any questions you may have.</p>
                                                    <p style="margin: 0px 0px 10px 0px;">Thank you!</p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <!--[if mso]>
          <v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="http://www.luxurymarket.com/#/auth/content/customer-service" style="height:45px;v-text-anchor:middle;width:520px;margin-bottom:35px;" arcsize="0%" strokecolor="#000" fillcolor="#000">
            <w:anchorlock/>
            <center style="color:#ffffff;font-family:Arial;font-size:16px;">Questions? Visit our <span style="text-decoration: underline; text-transform: capitalize;">
                    Customer Service page</center>
          </v:roundrect>
        <![endif]-->
                                                <!--[if !mso]><!-- -->
                                                <td>
                                                    <a href="http://www.luxurymarket.com/#/auth/content/customer-service" style="mso-hide:all;">
                                                        <p style="background-color:#000;color:#ffffff;display:inline-block;font-family:Arial;font-size:16px;line-height:45px;text-align:center;text-decoration:none;-webkit-text-size-adjust:none; width: 540px; cursor: pointer;">
                                                            Questions? Visit our <span style="text-decoration: underline; text-transform: capitalize; line-height: 0px;">
                                                                Customer Service page
                                                            </span>
                                                        </p>
                                                    </a>
                                                </td>
                                                <!--<![endif]-->
                                            </tr>
                                            <tr>
                                                <td style="padding-top: 35px;"></td>
                                            </tr>
                                            <tr>
                                                <td style="border-top: 3px solid black; line-height: 0px; padding: 0px 0px 30px 0px;"></td>
                                            </tr>
                                            <tr>
                                                <td style="text-align: center; font-size: 12px; letter-spacing: 0.05em; font-family: Arial; font-weight: 100;">
                                                    <p style="margin:0 0 10px 0;">Luxury Market</p>
                                                    <p style="margin:0 0 10px 0;">230 West 38th Street, 5th Floor</p>
                                                    <p style="margin:0 0 5px 0;">New York, New York 10018</p>
                                                    <p style="margin: 35px 0;">&#169; 2017 Luxury Market, All Rights Reserved.</p>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td style="width: 5%;"></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>