﻿<table style="background-color: #f0f0f0; margin: 0 auto; text-align: center; width:100%;">
    <tr>
        <td>
            <table border="0" cellspacing="0" width="600" style="font-family: Arial; font-size: 16px; color: #000; margin: 20px auto; background-color: #fff; border-radius: 5px; text-align: center;">
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td style="width: 5%;"></td>
                                <td>
                                    <table>
                                        <tr>
                                            <td style="text-align: center; background-color: #fff; padding: 30px 0 40px 0; width:100%; border-radius: 5px 5px 0 0;">
                                                <img src="@Model.LogoUrl" style="width: 250px;" alt="logo" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="padding-bottom: 20px;border-top: 3px solid black; line-height: 0px;"></td>
                                        </tr>
                                        <tr>
                                            <td style="padding: 0 0px 30px 0px; font-family: Arial;">
                                                <p style="text-transform: uppercase; font-size: 20px; font-weight: 600; text-align: center; line-height: 36px; letter-spacing: 0.08em; margin: 0;">your request has been approved!</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="font-size: 16px; text-align: center; letter-spacing: 0.05em; font-weight: 100;font-family: Arial; padding: 0 0px 15px 0px;">
                                                <p style="margin: 0px 0px 10px 0px;">Welcome to Luxury Market, <span>@Model.ContactName</span>!</p>
                                                <p style="margin: 0px 0px 0px 0px; line-height: 24px;">To begin shopping, please complete your registration by accessing the link below.</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <!--[if mso]>
                                              <v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="@Model.AccountLink" style="height:45px;v-text-anchor:middle;width:520px;" arcsize="0%" strokecolor="#e32323" fillcolor="#e32323">
                                                <w:anchorlock/>
                                                <center style="color:#ffffff;font-family:Arial;font-size:16px;">START SHOPPING</center>
                                              </v:roundrect>
                                            <![endif]-->
                                            <!--[if !mso]><!-- -->
                                            <td>
                                                <a href="@Model.AccountLink" style="mso-hide:all;">
                                                    <p style="background-color:#e32323;color:#ffffff;display:inline-block;font-family:Arial;font-size:16px;line-height:45px;text-align:center;text-decoration:none;-webkit-text-size-adjust:none; width: 100%;">
                                                        START SHOPPING
                                                    </p>
                                                </a>
                                            </td>
                                            <!--<![endif]-->
                                        </tr>
                                        <tr>
                                            <td style="font-size: 16px; text-align: center; letter-spacing: 0.05em; font-weight: 100; padding: 20px 0px 0px 0px; font-family: Arial;">
                                                <p style="margin: 0px 0px 10px 0px; line-height: 24px;">Your Luxury Market Account Manager will reach out shortly to provide essential tools to get you started.</p>
                                                <p style="margin: 0px 0px 10px 0px;">We are happy to have you on board!</p>
                                                <p style="margin-bottom: 0px;">The Team at Luxury Market</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="font-size: 16px; text-align: center; padding: 15px 0 15px 0; letter-spacing: 0.025em; line-height: 0px;"></td>
                                        </tr>
                                        <tr>
                                            <td style="border-top: 3px solid black; line-height: 0px; padding: 0 0px 30px 0px;"></td>
                                        </tr>
                                        <tr>
                                            <td style="text-align: center; font-size: 12px; letter-spacing: 0.05em; font-family: Arial; font-weight: 100;">
                                                <p style="margin:0 0 10px 0;">Luxury Market</p>
                                                <p style="margin:0 0 10px 0;">230 West 38th Street, 5th Floor</p>
                                                <p style="margin:0 0 5px 0;">New York, New York 10018</p>
                                                <p style="margin: 35px 0;">&#169; 2017 Luxury Market, All Rights Reserved.</p>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td style="width: 5%;"></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>