﻿<table border="0" cellpadding="0" cellspacing="0" width="600" style="font-size: 14px; color:#fff; margin: 0 auto;">
    <tr style="text-align:center;">
        <td style="width:100%;">
            <img src="[@LOGOURL]" style="max-width: 100%;" alt="logo" />
        </td>
    </tr>
    <tr>
        <td style="padding: 15px 0 0 0;"></td>
    </tr>
    <tr>
        <td style="color: #383838; text-align: center; font-size: 16px; letter-spacing: 0.025em; line-height: 24px; font-family: FuturaPT, Arial; padding: 15px 0 15px 0; background-color: #f1f1f1;">
            <p style="font-size: 14px;text-align:center;color: #000000;font-weight:bold;font-family: FuturaPT, Arial;">
                YOUR ORDER [@PONUMBER] WAS SUCCESSFULLY SUBMITTED!
            </p>
            <p style="font-size:13px;font-family: FuturaPT, Arial; line-height: 20px;">
                Please allow up to 2 business days for our team to confirm your order.<br />
                We will send a notice as soon as this process is complete!<br />
                If you have any questions, feel free to reach out to your Luxury Market Account Manager!
            </p>
        </td>
    </tr>
</table>