﻿<table border="0" cellpadding="0" cellspacing="0" width="600" style="font-size: 14px; color:#fff; margin: 0 auto;">
    <tr style="text-align:center;">
        <td style="width:100%;">
            <img src="[@LOGOURL]" style="max-width: 100%;" alt="logo" />
        </td>
    </tr>
    <tr>
        <td style="padding: 15px 0 0 0;"></td>
    </tr>
    <tr>
        <td style="color: #383838; text-align: center; font-size: 16px; letter-spacing: 0.025em; line-height: 24px; font-family: FuturaPT, Arial; padding: 15px 0 15px 0; background-color: #f1f1f1;">
            <p style="font-size: 14px;text-align:center;color: #000000;font-weight:bold;font-family: 'Futura PT', FuturaPT, Arial;">
                CONGRATULATIONS, YOU HAVE AN ORDER!
            </p>
            <p style="font-size:13px;font-family: FuturaPT, Arial; line-height: 20px;">
                An order has been placed and requires your confirmation. Please log on to your Luxury Market Dashboard to confirm your merchandise and provide any outstanding supporting documents.
            </p>
        </td>
    </tr>
    <tr>
        <td style="padding: 15px 0 0 0;"></td>
    </tr>
    <tr>
        <td style="background-color: #e32323; border-radius: 5px;  text-align: center; padding: 10px 0 10px 0;">
            <a href="[@LINK]" style="font-family: FuturaPT, Arial; font-size: 16px; text-decoration: none; color: #fff; line-height: 36px;">
                    CONFIRM YOUR CUSTOMER'S ORDER
            </a>
        </td>
    </tr>
</table>