﻿<table style="width: 100%; margin: 0 auto; text-align: center; background-color: #f0f0f0;" ">
    <tr>
        <td>
            <table border="0" cellspacing="0" width="600" style="font-family: Arial; font-size: 16px; color: #000; margin: 20px auto; background-color: #fff; border-radius: 5px; text-align: center;">
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td style="width: 5%;"></td>
                                <td>
                                    <table>
                                        <tr>
                                            <td style="text-align: center; background-color: #fff; padding: 30px 0 40px 0; width:100%; border-radius: 5px 5px 0 0;">
                                                <img src="[@LOGOURL]" style="max-width: 250px;" alt="logo" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="padding: 0 0px 30px 0px; border-top: 3px solid black; line-height: 0px;"></td>
                                        </tr>
                                        <tr>
                                            <td style="padding: 0 40px 15px 40px;font-size: 16px; text-align: center; letter-spacing: 0.05em;font-family: Arial; font-weight: 100;">
                                                <p style="margin: 0px 0px 10px 0px;">Quality Control fails!</p>
                                                <p style="margin: 0px; line-height: 20px;">Quality Control Fail for PoNumber: [@PONUMBER].</p>
                                                <p style="margin: 0px; line-height: 20px;">We attached below your fail products in quality control.</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="font-size: 16px; text-align: center; padding: 15px 0 15px 0; letter-spacing: 0.025em; line-height: 0px;"></td>
                                        </tr>
                                        <tr>
                                            <td style="padding: 0 0px 30px 0px; border-top: 3px solid black; line-height: 0px;"></td>
                                        </tr>
                                        <tr>
                                            <td style="text-align: center; font-size: 12px; letter-spacing: 0.05em; font-family: Arial; font-weight: 100;">
                                                <p style="margin:0 0 10px 0;">Luxury Market</p>
                                                <p style="margin:0 0 10px 0;">230 West 38th Street, 5th Floor</p>
                                                <p style="margin:0 0 5px 0;">New York, New York 10018</p>
                                                <p style="margin: 35px 0;">&#169; 2017 Luxury Market, All Rights Reserved.</p>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td style="width: 5%;"></td>
                            </tr>
                        </table>
                    </td>
                </tr>

            </table>
        </td>
    </tr>
</table>