﻿<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 nav-steps">
            <div class="page-steps">
                <a href="#" ng-click="offersummary.back($event)" class="medium-blue-1" translate="STEP_FOUR_BREADCRUMBS"></a>
                <a> &#47; {{'STEP_FOUR_TITLE' | translate}}</a>
            </div>
            <div class="border-line-down"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1 col-sm-1"></div>
        <div class="col-md-10 col-sm-10">
            <p class="title-page margin-t-40 margin-b-20" translate="STEP_FOUR_TITLE"></p>
            <div class="box-line summary-box">
                <p>{{'STEP_FOUR_OFFER_ID' | translate}}&#58;<span ng-bind="offersummary.summary.offerImportBatchId"></span></p>
                <p>{{'STEP_FOUR_TOTAL_PRODUCTS' | translate}}&#58;<span ng-bind="offersummary.summary.totalProducts"></span></p>
                <p>{{'STEP_FOUR_TOTAL_UNITS' | translate}}&#58;<span ng-bind="offersummary.summary.totalNumberOfUnits"></span></p>
                <p>{{'STEP_FOUR_TOTAL_COST' | translate}}&#58;<span>{{offersummary.summary.sellerTotalPrice | currency: offersummary.summary.currency.simbol : 2}}</span></p>
                <p>{{'STEP_FOUR_START_DATE' | translate}}&#58;<span ng-bind="offersummary.summary.startDateFormat"></span></p>
                <p>{{'STEP_FOUR_END_DATE' | translate}}&#58;<span ng-bind="offersummary.summary.endDateFormat"></span></p>
                <p class="margin-0">
                    {{'STEP_FOUR_TAKE_ALL' | translate}}&#58;
                    <span ng-show="offersummary.summary.takeAll" translate="STEP_FOUR_YES"></span>
                    <span ng-hide="offersummary.summary.takeAll" translate="STEP_FOUR_NO"></span>
                </p>
            </div>
            <form>
                <div class="text-center">
                    <div class="margin-t-40 form-group">
                        <input type="checkbox" id="terms" ng-model="offersummary.agreeTC" />
                        <label for="terms" class="terms-conditions"><span></span>{{'STEP_FOUR_I_AGREE' | translate}} <a ui-sref="auth.static.terms-and-conditions" target="_blank">{{'STEP_FOUR_TERMS' | translate}}</a></label>
                    </div>
                    <button class="publish-btn btn-lm" ng-disabled="!offersummary.agreeTC || offersummary.isLoading" ng-click="offersummary.publish($event)">
                        {{'STEP_THREE_PUBLISH_BUTTON' | translate}}
                        <i class="fa fa-spinner spinning" ng-show="offersummary.isLoading"></i>
                    </button>
                </div>
            </form>
        </div>
        <div class="col-md-1 col-sm-1"></div>
    </div>
</div>