﻿// General Buttons

.btn-lm {
    background-color: $black;
    border: none;
    color: $white;
    display: inline-block;
    letter-spacing: 1px;
    padding: 11px 25px;
    position: relative;
    text-align: center;
    text-transform: $upper-text;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    outline: none;
    width: auto;
    cursor: pointer;

    &.btn-lm-single {
        min-width: 385px;

        @media(max-width: $screen-sm) {
            width: 100%;
            min-width: 100%;
        }
    }

    &.btn-lm-cancel {
        min-width: 200px;
        background-color: $very-light-gray;
        color: $black;
        padding: 10px 0px;
    }

    &.btn-lm-save {
        min-width: 200px;
        padding: 10px 0px;
    }

    &.btn-lm-empty {
        background-color: $white;
        color: $black;
        border: 1px solid $black;
        padding: 6px 10px;
        font-size: 16px;
        min-width: 190px;

        @media(max-width: $screen-md) {
            width: 120px;
            padding: 3px 0;
            font-size: 13px;
        }
    }

    &.btn-lm-small {
        min-width: 210px;
        text-transform: $capital-text;
        font-size: 18px;
        padding: 7px 15px;

        &.btn-lm-payment {
            min-width: 240px;
        }
    }

    &.btn-lm-filter {
        min-width: 187px;
        background-color: $white;
        color: $black;
        border: 1px solid $black;
        line-height: 20px;
        text-align: left;
        padding: 10px 15px 10px 20px;
        text-transform: none;
        font-size: 16px;

        &.btn-lm-filter:focus {
            border-bottom: 0;
            color: $light-gray;
            -webkit-transition: 0.1s; /* Safari */
            transition: 0.1s;
        }
    }

    &.btn-lm-buy {
        background-color: $red-4;
        color: $white;
        border-color: $red-3;
        margin-top: 8px;
        -webkit-box-shadow: 0 3px 39px -1px rgba(0,0,0,.1);
        -moz-box-shadow: 0 3px 39px -1px rgba(0,0,0,.1);
        box-shadow: 0 3px 39px -1px rgba(0,0,0,.1);

        &.btn-lm-buy:focus {
            border-color: $red-3;
        }
    }

    &.btn-lm-green {
         background-color: $green-2;
            font-weight: $heavy-weight;
            font-size: 18px;
            letter-spacing: 0.06em;
            line-height: 20px;

            &.btn-lm-green:focus {
                border: none;
            }
    }

    &.btn-lm-submit {
        min-width: 225px;
    }

    &.btn-lm-buy {
        background-color: $red-4;
        color: $white;
        border-color: $red-3;
        margin-top: 8px;
        -webkit-box-shadow: 0 3px 39px -1px rgba(0,0,0,.1);
        -moz-box-shadow: 0 3px 39px -1px rgba(0,0,0,.1);
        box-shadow: 0 3px 39px -1px rgba(0,0,0,.1);
    }

    &.btn-lm-add {
        min-width: 90%;
    }
}

.btn-lm-link {
    border: none;
    background: white;
    text-decoration: underline;
    text-transform: $capital-text;
    color: $medium-blue;
    letter-spacing: 0.05em;
    line-height: 24px;
    padding: 0;

    &.btn-lm-link:focus {
        outline: none;
        box-shadow: unset;
    }
}
