﻿
.table-products {

    table {
        margin-bottom: 0px;

        .inactive-all {
            color: $red-1;
            cursor: pointer;
            font-size: 12px;

            &:hover {
                text-decoration: underline;
            }
        }

        thead {
            background-color: $gray-lighten-5;

            tr {

                th {
                    border: 0;
                    line-height: 18px;
                    letter-spacing: 0.05em;
                    font-weight: $light-weight;
                    text-transform: $capital-text;
                    text-align: center;
                    color: $black;
                    vertical-align: middle;
                    padding: 8px 10px;

                    @media (max-width: $screen-md) {
                        font-size: 11px;
                        line-height: 15px;
                        padding: 5px 5px;
                    }

                    @media (max-width: $screen-sm) {
                        font-size: 11px;
                        padding: 0px 0px !important;
                    }
                }

                .detail-th {
                    width: 35%;
                    text-align: left;

                    @media (max-width: $screen-md) {
                        width: 25%;
                    }
                }
            }
        }

        tbody {

            tr {
                text-align: center;
                color: $black;

                &.excluded {
                    opacity: 0.4;
                    -webkit-transition: opacity 0.5s ease-in-out;
                    -moz-transition: opacity 0.5s ease-in-out;
                    transition: opacity 0.5s ease-in-out;

                    &:hover {
                        opacity: 1;
                    }
                }

                td {
                    text-transform: $capital-text;
                    text-align: center;
                    letter-spacing: 0.05em;
                    vertical-align: middle;
                    border-color: $very-light-gray;
                    padding: 15px;

                    .bold-number {
                        font-weight: $heavy-weight;
                        line-height: 18px;

                        @media (max-width: $screen-md) {
                            font-size: 12px;
                        }
                    }
                }

                input {
                    &.offer-inline-price {
                        font-size: 14px;
                        padding: 2px;
                        max-width: 60px;
                        border-radius: 0;

                        & + i {
                            color: $red;
                            cursor: pointer;
                            margin-left: 3px;
                        }
                    }
                }

                .image-size {
                    // width: 10%;
                    position: relative;

                    .more-details {
                        line-height: 24px;
                        letter-spacing: 0.1em;
                        margin: 0;
                        text-transform: $lower-text;
                    }

                    img {
                        max-height: 75px;
                    }

                    .image-loader {
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        margin: auto;
                        width: 25px;
                        height: 25px;
                    }
                }

                .details-table {
                    vertical-align: -webkit-baseline-middle;

                    .details-text {
                        text-align: left;
                        line-height: 24px;


                        p {
                            margin: 0;
                        }

                        .details-brand {
                            & > .dropdown {
                                display: inline-block;

                                .dropdown-menu {
                                    padding: 10px;

                                    li {
                                        min-width: 250px;
                                        color: $red;

                                        & + li {
                                            border-top: 1px solid $very-light-gray;
                                        }
                                    }
                                }
                            }
                        }

                        .name-product {
                            font-size: 16px;
                            color: $medium-blue;
                            cursor: pointer;
                        }

                        .bold-name {
                            font-weight: $heavy-weight;

                            span {
                                font-weight: $light-weight;
                            }
                        }
                    }
                }

                .price-number {
                    color: $medium-blue;
                    text-decoration: underline;

                    form {
                        .error-messages {
                            width: 100%;
                        }
                    }

                    .spinning {
                        color: $black;
                    }
                }
            }

            .total-row {
                background-color: $light-white;

                td {
                    border: 0;
                    padding-left: 0;
                    padding: 5px 0;

                    .check-linebuy {
                        margin: 0px;

                        input[type="checkbox"] + label {
                            padding: 0;
                            letter-spacing: 0.05em;
                            line-height: 18px;
                            margin-right: 10px;

                            @media (max-width: $screen-md) {
                                font-size: 12px;
                            }
                        }

                        input[type="checkbox"] + label span {
                            width: 16px;
                            height: 16px;
                            margin: 0 5px;

                            @media (max-width: $screen-md) {
                                width: 13px;
                                height: 13px;
                                margin: 0 2px;
                            }
                        }
                    }
                }
            }

            .checkbox-lb {
                margin: 0px;

                input[type="checkbox"] + label {
                    padding: 0px;
                }

                input[type="checkbox"] + label span {
                    margin: 0px 13px 0px 20px;

                    @media (max-width: $screen-md) {
                        width: 13px;
                        height: 13px;
                        margin: 0 2px;
                    }
                }
            }
        }
    }
}

.table-responsive {
  overflow-x: inherit;
   @media (max-width: $screen-xs) {
       overflow-x: auto;
   }

}