<div class="top-footer footer-site">
    <div class="design-container container-fluid ">
        <div class="row footer-m">
            <div class="col-xs-4 col-sm-5">
                <span class="border-l"></span>
            </div>
            <div class="col-xs-4 col-sm-2 img-sm">
                <img src="images/logos/2.png" alt="">
            </div>
            <div class="col-xs-4 col-sm-5">
                <span class="border-l"></span>
            </div>
        </div>
        <div class="row old-footer-top">
            <div class="col-xs-3">
                <div class="contact-info">
                    <h3 class="contact-title text-left" ui-sref="auth.static.customer-service">{{'MENU_CUSTOMER_SERVICE'| translate}}</h3>
                </div>
            </div>
            <div class="col-xs-2">
                <div class="contact-info">
                    <h3 class="contact-title text-right" ui-sref="auth.static.policies">{{'MENU_PRIVACY_POLICY'| translate}}</h3>
                </div>
            </div>
            <div class="col-xs-2 col-xs-offset-2">
                <div class="contact-info">
                    <h3 class="contact-title text-left" ui-sref="auth.static.authenticity">{{'MENU_AUTHENTICITY'| translate}}</h3>
                </div>
            </div>
            <div class="col-xs-3 text-right">
                <div class="contact-info">
                    <h3 class="contact-title text-right" ui-sref="auth.static.terms-and-conditions">{{'MENU_TERMS_AND_CONDITIONS'| translate}}</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 copyright text-center">
                <span>Copyright  © 2017 Luxury Market. All Rights Reserved</span>
            </div>
        </div>
    </div>
</div>
<div class="lm-back-drop"></div>
