<header class="header-luxury header-site">
    <div class="design-container container-fluid">
        <div class="row top-header">
            <div class="col-xs-12 col-sm-4 col-sm-offset-3 col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4 logo pointer text-center"
                 ui-sref="site.home">
                <img src="images/logos/1.png" alt="logo">
            </div>
            <div class="col-xs-12 col-sm-5 col-md-4 col-lg-4 box-control">
                <div class="row">
                    <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4 col-lg-offset-2 nopadding sticky-element">
                        <ul id="usermenuwrapper" class="nopadding">
                            <li class="username">
                                <div class="btn-group btn-changes">
                                    <button id="usermenu" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        {{main.userInfo.displayName}} <span class="fa fa-angle-down"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <!--<li><a href="#" ui-sref="admin.dashboard">{{'MENU_DASHBOARD'| translate}}</a></li>-->
                                        <li><a href="#" ui-sref="admin.account-info">{{'MENU_ACCOUNT_SETTINGS'| translate}}</a></li>
                                        <li><a href="#" ng-click="main.logout($event)">{{'MENU_SIGN_OUT'| translate}}</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="type">&nbsp;<!--{{'MENU_ELITE'| translate}}--></li>
                            <li class="language">
                                <!--<div class="current dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{main.language}}</div>
                                <ul class="dropdown-menu">
                                    <li><a ng-click="main.translate($event,'en')">Eng</a></li>
                                    <li><a ng-click="main.translate($event,'it')">It</a></li>
                                </ul>-->
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-4 col-md-2 col-lg-2 linesheet hidden-xs pointer nopadding" ui-sref="site.cart">{{'MENU_LINESHEET'| translate}}&#58;</div>
                    <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4 mini-cart nopadding-left">
                        <a class="cart-link" ui-sref="site.cart">
                            <ul class="items-cart">
                                <li><span>{{main.cart.itemsCount}}</span>&nbsp;{{'MENU_ITEMS'| translate}}</li>
                                <li><span>{{main.cart.unitsCount}}</span>&nbsp;{{'MENU_UNITS'| translate}}</li>
                                <li><span>{{main.cart.totalLandedCost | currency : undefined: 0}}</span>&nbsp;{{'MENU_ORDER'| translate}}</li>
                            </ul>
                        </a>
                        <!-- Dropdown shopping cart -->
                    </div>
                </div>
            </div>
            <div class="col-lg-2"></div>
        </div>

    </div>
    <div class="luxury-nav">
        <div class="design-container container-fluid">
            <div class="row header-menu">
                <div class="col-xs-12 nopadding">
                    <ul id="sitemenu" class="margin-0" ng-controller="SiteMenuController as menu">
                        <li ng-repeat="item in menu.items">
                            <a href="#" ng-class="{'active' : item.active}" ng-bind="item.label" ng-click="menu.menuItemClick($event, item)"></a>
                        </li>
                        <li class="search-wrapper">
                            <a href="#" ng-click="menu.openSearch($event)"><span class="search-lm-icon lm-search-01"></span></a>
                            <div class="search-input-wrapper">
                                <input type="text" ng-show="menu.isSearchOpen" placeholder="{{'MENU_SEARCH_PLACEHOLDER'| translate}}" ng-keyup="menu.searchByKeyword($event)" ng-model="menu.keyword" />
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>
