﻿<!-- Home Container -->
<div class="design-container container-fluid nopadding banner-content-home" id="homepage" ng-class="{'light': home.featuredEvents.hero.imageToDisplay.featuredEventThemeType == home.featuredEventsThemeTypes.Light || home.featuredEvents.hero.imageToDisplay.featuredEventThemeType === home.featuredEventsThemeTypes.Default, 'dark': home.featuredEvents.hero.imageToDisplay.featuredEventThemeType === home.featuredEventsThemeTypes.Dark}">
    <div class="row margin-0">
        <div class="col-md-12 col-sm-12 col-xs-12 nopadding">
            <div class="banner pointer" ng-click="home.goToFEProducts($event, home.featuredEvents.hero)" ng-class="{'pointer': home.featuredEvents.hero.hasProductsAssigned}">
                <div class="home-image">
                    <img ng-src="{{home.featuredEvents.hero.imageToDisplay.imageLink}}" ng-show="home.featuredEvents.hero.showImage" />
                    <img ng-src="images/default-hero.jpg" ng-hide="home.featuredEvents.hero.showImage" />
                </div>
                <div class="banner-text">
                    <h3 ng-bind-html="home.featuredEvents.hero.htmltitle"></h3>
                    <span ng-bind-html="home.featuredEvents.hero.htmlsubtitle"></span>
                    <a href="#" class="btn-lm btn-lm-shop" ng-click="home.goToFEProducts($event, home.featuredEvents.hero)" ng-if="home.featuredEvents.hero.hasProductsAssigned">{{'HERO_BUTTON_TEXT'| translate}}</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="design-container container-fluid home-content">
    <div class="row">
        <div class="col-md-12 subtitle-home margin-t-40">
            <p class="first-subtitle margin-b-20 text-center"><span ng-bind-html="'HOME_SUBTITLE1'| translate"></span><br/><span ng-bind-html="'HOME_SUBTITLE3'| translate"></span></p>
            <p class="second-subtitle">{{'HOME_SUBTITLE2'| translate}}</p>
        </div>
    </div>
    <div class="row margin-t-20 mobile-margin">
        <div class="col-md-6 col-sm-6 col-xs-12">
            <a href="#">
                <div class="product-banner product-category" ng-class="{'light': home.featuredEvents.bigTile.imageToDisplay.featuredEventThemeType === home.featuredEventsThemeTypes.Light || home.featuredEvents.bigTile.imageToDisplay.featuredEventThemeType === home.featuredEventsThemeTypes.Default, 'dark': home.featuredEvents.bigTile.imageToDisplay.featuredEventThemeType === home.featuredEventsThemeTypes.Dark}" ng-click="home.goToFEProducts($event, home.featuredEvents.bigTile)" style="background-image: url('{{home.featuredEvents.bigTile.imageToDisplay.imageLink}}')">
                    <h3 class="text effect" ng-bind-html="home.featuredEvents.bigTile.htmltitle"></h3>
                </div>
            </a>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="row" ng-repeat="tile in home.featuredEvents.secondaryTiles" ng-click="home.goToFEProducts($event, tile)">
                <div class="col-md-12 col-sm-12 xs-padding">
                    <a href="#">
                        <div class="product-one product-category" ng-class="{'light': tile.imageToDisplay.featuredEventThemeType === home.featuredEventsThemeTypes.Light || tile.imageToDisplay.featuredEventThemeType === home.featuredEventsThemeTypes.Default, 'dark': tile.imageToDisplay.featuredEventThemeType === home.featuredEventsThemeTypes.Dark}" style="background-image: url('{{tile.imageToDisplay.imageLink}}')">
                            <h3 class="text effect" ng-bind-html="tile.htmltitle"></h3>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12 xs-padding-cls" ng-class="{'nopadding-left' : $index % 2 === 1}"
              ng-repeat="tile in home.featuredEvents.additionalTiles" ng-click="home.goToFEProducts($event, tile)">
            <a href="#">
                <div class="product-three product-category" ng-class="{'light': tile.imageToDisplay.featuredEventThemeType === home.featuredEventsThemeTypes.Light || tile.imageToDisplay.featuredEventThemeType === home.featuredEventsThemeTypes.Default, 'dark': tile.imageToDisplay.featuredEventThemeType === home.featuredEventsThemeTypes.Dark}" style="background-image: url('{{tile.imageToDisplay.imageLink}}')">
                    <h3 class="text effect" ng-bind-html="tile.htmltitle"></h3>
                </div>
            </a>
        </div>
    </div>
    <div class="margin-t-40"></div>
    <!--<div class="row">
        <div class="col-md-12 subtitle-home margin-t-40">
            <p class="first-subtitle margin-b-20 text-center">{{'HOME_FOOTER_SUBTITLE1'| translate}}</p>
            <p class="second-subtitle">{{'HOME_FOOTER_SUBTITLE2'| translate}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 margin-t-30 bestsellers-section">
            <div class="row">
                <div class="text-center" ng-show="home.isLoadingBestSellers">
                    <i class="fa fa-spinner spinning"></i>
                </div>
                <slick infinite="true" slides-to-show="4" slides-to-scroll="4" init-onload=true data="home.bestSellers" autoplay="true" speed="1000" class="responsive-slick">
                    <div class="item col-md-3 col-sm-3" ng-repeat="bestseller in home.bestSellers">
                        <a href="#" class="best-seller-wrapper display-block" ng-click="home.goToProductDetails($event, bestseller)">
                            <img ng-src="{{bestseller.mainImageUrl}}" alt="product" />
                        </a>
                        <div class="item-caption">
                            <a href="#" ng-click="home.goToBrandProducts($event, bestseller.brandId, bestseller.brandName)" class="item-brand" ng-bind="bestseller.brandName">Gucci</a>
                            <span class="item-name" ng-bind="bestseller.name"></span>
                            <p class="item-price">{{'HOME_BEST_PRICE'| translate}}&#58; <span ng-bind="bestseller.lmPrice | currency: undefined:0"></span></p>
                        </div>
                    </div>
                </slick>
            </div>
        </div>
    </div>-->
</div>
