﻿<div class="horizontal-list horizontal-list-sticky" ng-if="products.isSticky">
    <div class="sticky container-fluid design-container line-down-vertical">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 sidebar-top">
            <h2 class="sidebar-head">
                <span class="first-subtitle" ng-if="!products.translateHeader.title" ng-bind="products.header"></span>
                <span class="first-subtitle" ng-if="products.translateHeader.title" ng-bind="products.header | translate"></span>
            </h2>
        </div>
        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 selected-form">
            <div class="row">
                <div class="col-xs-6 col-md-6 nopadding">
                    <div ng-if="products.viewMode === 'list' && products.details.products.length > 0">
                        <button ng-disabled="products.isSeller" class="btn-lm btn-lm-list margin-r-10"
                                ng-click="products.selectAll()">
                            {{products.isSelectedAll ? 'Deselect All' : 'Select All'}}
                        </button>
                        <button ng-disabled="products.isSeller" class="btn-lm btn-lm-list red"
                                ng-click="products.addSelectedProducts()">
                            Add to Cart <i ng-if="products.isLoadingAddSelected" class="fa fa-spinner spinning"></i>
                        </button>
                    </div>
                </div>
                <div class="col-xs-6 col-md-6 text-right">
                    <div class="shop-top">
                        <div class="navigation-shop nopadding text-right">
                            <span class="sort-name hidden-sm">{{'PRODUCT_LIST_SORT_BY'| translate}}: </span>
                            <div class="dropdown sort-filter">
                                <button class="btn-lm btn-lm-filter dropdown-toggle" data-toggle="dropdown">
                                    {{products.activeSortLabel | translate}}<span class="angle-down"><i class="fa fa-caret-down" aria-hidden="true"></i></span>
                                </button>
                                <ul class="dropdown-menu menu-right">
                                    <li ng-repeat="sort in products.sort"
                                        ng-class="{'active' : sort.active}"
                                        ng-click="products.sortBy($event, sort)">
                                        <a>{{sort.label | translate}}</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="view-mode text-right">
                                <p class="margin-0">
                                    <span class="reorder-icon lm-icon-h"
                                          ng-class="{'activ': products.viewMode === 'list'}"
                                          ng-click="products.toggleView('grid')">
                                    </span>
                                    <span class="reorder-icon lm-icon-v"
                                          ng-class="{'activ': products.viewMode === 'grid'}"
                                          ng-click="products.toggleView('list')">
                                    </span>
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<div class="container-fluid description-container horizontal-list height-horizontal-list  design-container">
    <!-- class="sticky-element" for scroll on Product Listing -->
    <div class="row">
        <div class="hide-all title-section"
             ng-class="{'col-md-12 col-sm-12' : !(products.showTakeAll && !products.isSeller), 'col-md-10 col-sm-10': products.showTakeAll && !products.isSeller}">
            <div class="navigation navigation-position">
                <a href="#">{{'PRODUCT_LIST_HOME'| translate}}</a>
                <span ng-bind="products.header | translate" class="next-page"></span>
            </div>
            <div class="subtitle-home left">
                <p class="first-subtitle" ng-if="!products.translateHeader.title" ng-bind="products.header"></p>
                <p class="second-subtitle text-left" ng-if="!products.translateHeader.subtitle && !products.showTakeAllDetails" ng-bind="products.subtitle"></p>
                <p class="first-subtitle" ng-if="products.translateHeader.title" ng-bind="products.header | translate"></p>
                <p class="second-subtitle text-left" ng-if="products.translateHeader.subtitle && !products.showTakeAllDetails" ng-bind="products.subtitle | translate"></p>
                <p ng-if="products.showTakeAllDetails">
                    <span class="bold">Offer ID:</span>&nbsp;{{products.details.offerSummary.offerID}} &nbsp;|&nbsp;
                    <span class="bold">Total Cost:</span>&nbsp;{{products.details.offerSummary.totalPrice | currency: '$' : 0}} &nbsp;|&nbsp;
                    <span class="bold">Total Styles:</span>&nbsp;{{products.details.offerSummary.totalProducts}} &nbsp;|&nbsp;
                    <span class="bold">Total Units:</span>&nbsp;{{products.details.offerSummary.totalUnits}}
                </p>
            </div>
        </div>
        <div class="col-md-2 col-sm-2 text-right margin-t-40"
             ng-if="products.showTakeAll && !products.isSeller">
            <button class="btn-lm btn-lm-shopping take-all-btn"
                    ng-click="products.addTakeAll($event)"
                    data-toggle="dropdown" type="button" id="dLabel">
                {{'PRODUCT_LIST_BUY_ALL'| translate}}
                <i class="fa" ng-class="{'fa-spinner spinning' : products.isAddingOffer}" aria-hidden="true"></i>
            </button>
        </div>
    </div>

    <div class="row" ng-if="!products.noStock() && !products.isSticky">
        <div class="container-fluid design-container line-down-vertical">
            <div class="col-md-12">
                <div class="row">
                    <div class="hidden-xs col-sm-3 col-md-3 col-lg-3 sidebar-top">
                        <h2 class="sidebar-head">Categories</h2>
                    </div>
                    <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9 selected-form">
                        <div class="row">
                            <div class="col-xs-6 col-md-6 nopadding xs-view">
                                <div ng-if="products.viewMode === 'list' && products.details.products.length > 0">
                                    <button ng-disabled="products.isSeller" class="btn-lm btn-lm-list margin-r-10"
                                            ng-click="products.selectAll()">
                                        {{products.isSelectedAll ? 'Deselect All' : 'Select All'}}
                                    </button>
                                    <button ng-disabled="products.isSeller" class="btn-lm btn-lm-list red"
                                            ng-click="products.addSelectedProducts()">
                                        Add to Cart <i ng-if="products.isLoadingAddSelected" class="fa fa-spinner spinning"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="col-xs-6 col-md-6 text-right">
                                <div class="shop-top">
                                    <div class="navigation-shop nopadding text-right">
                                        <span class="sort-name hidden-sm">{{'PRODUCT_LIST_SORT_BY'| translate}}: </span>
                                        <div class="dropdown sort-filter">
                                            <button class="btn-lm btn-lm-filter dropdown-toggle" data-toggle="dropdown">
                                                {{products.activeSortLabel | translate}}<span class="angle-down"><i class="fa fa-caret-down" aria-hidden="true"></i></span>
                                            </button>
                                            <ul class="dropdown-menu menu-right">
                                                <li ng-repeat="sort in products.sort"
                                                    ng-class="{'active' : sort.active}"
                                                    ng-click="products.sortBy($event, sort)">
                                                    <a>{{sort.label | translate}}</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="view-mode text-right">
                                            <p class="margin-0">
                                                <span class="reorder-icon lm-icon-h"
                                                      ng-class="{'activ': products.viewMode === 'list'}"
                                                      ng-click="products.toggleView('grid')">
                                                </span>
                                                <span class="reorder-icon lm-icon-v"
                                                      ng-class="{'activ': products.viewMode === 'grid'}"
                                                      ng-click="products.toggleView('list')">
                                                </span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>

    <!-- Filters -->
    <div class="row">
        <div class="col-md-3 col-sm-2 sidebar sticky-element hidden-xs" ng-class="{'margin-t-30' : products.isSticky, 'margin-t-15' : !products.isSticky}" ng-if="!products.noStock()">
            <div class="categories-filter" ng-class="{'open' : products.displayCategoriesFilter}">
                <h2 class="sidebar-title">
                    <span class="pointer caret"
                          ng-class="{'caret-right' : !products.displayCategoriesFilter, 'caret-down': products.displayCategoriesFilter}"
                          ng-click="products.toggleFilterGroup(!products.displayCategoriesFilter, false, false)"></span>Categories
                </h2>
                <div class="radio radio-box" ng-repeat="business in products.filters.availableBusinesses">
                    <input type="radio" id="business-{{business.id}}" name="business" ng-checked="business.selected" ng-click="products.changeBusiness($event, business)" />
                    <label for="business-{{business.id}}" class="radio-label"><span></span><label class="text-label">{{business.businessName}}</label></label>
                </div>
                <ul class="categories-list no-padding-l" ng-show="products.filters.showTree">
                    <li class="font-list" ng-repeat="division in products.filters.business.divisions | filter:{active:true}">
                        <span class="pointer caret" ng-class="{'caret-down' : division.open, 'caret-right' : !division.open}" ng-click="products.openTree('division', division)"></span>
                        <span class="pointer book-family" ng-class="{'bold' : division.selected}" ng-click="products.filterBy('division', division)">
                            {{division.divisionName}}
                        </span>
                        <ul class="apparel-list padding-l-15" ng-show="division.open">
                            <li ng-repeat="department in division.departments | filter:{active:true}">
                                <span class="pointer caret" ng-class="{'caret-down' : department.open, 'caret-right' : !department.open}" ng-click="products.openTree('department', department, division)"></span>
                                <span class="pointer" ng-class="{'bold' : department.selected}" ng-click="products.filterBy('department', department, division)">{{department.departmentName}}</span>
                                <ul class="no-padding-l scrollbar-bar" ng-show="department.open">
                                    <li ng-repeat="category in department.categories | filter:{active:true}">
                                        <div class="checkbox check-box">
                                            <input type="checkbox" id="category-{{category.id}}" ng-checked="category.selected" name="iCheck" ng-click="products.filterBy('category', category, department, division)" />
                                            <label for="category-{{category.id}}"><span></span><label class="text-label">{{category.categoryName}}</label></label>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <h2 class="sidebar-title brands-filter" ng-class="{'open' : products.displayBrandsFilter}" ng-if="products.showBrands">
                <span class="pointer caret"
                      ng-class="{'caret-right' : !products.displayBrandsFilter, 'caret-down': products.displayBrandsFilter}"
                      ng-click="products.toggleFilterGroup(false,!products.displayBrandsFilter, false)"></span>Brands
            </h2>
            <ul class="brands-list no-padding-l scrollbar-bar" ng-if="products.showBrands">
                <li ng-repeat="brand in products.filters.brands">
                    <div class="checkbox check-box">
                        <input type="checkbox" id="brand-{{brand.id}}" name="iCheck" ng-click="products.filterBy('brand', brand)" />
                        <label for="brand-{{brand.id}}"><span></span><label class="text-label">{{brand.name | lowercase }}</label></label>
                    </div>
                </li>
            </ul>
            <h2 class="sidebar-title colors-filter" ng-class="{'open' : products.displayColorsFilter}">
                <span class="pointer caret"
                      ng-class="{'caret-right' : !products.displayColorsFilter, 'caret-down': products.displayColorsFilter}"
                      ng-click="products.toggleFilterGroup(false ,false, !products.displayColorsFilter)"></span>Colors
            </h2>
            <ul class="colors-list no-padding-l scrollbar-bar">
                <li ng-repeat="color in products.filters.colors">
                    <div class="checkbox check-box">
                        <input type="checkbox" id="color-{{color.standardId}}" name="iCheck" ng-click="products.filterBy('color', color)" />
                        <label for="color-{{color.standardId}}"><span></span><label class="text-label">{{color.name}}</label></label>
                    </div>
                </li>
            </ul>
            <!--<div class="orange-color colors"></div>
            <div class="pink-color colors"></div>
            <div class="purple-color colors"></div>
            <div class="red-color colors"></div>
            <div class="yellow-color colors"></div>
            <br />-->
            <!-- Black and white color-->
            <!--<div class="white-color colors"></div>-->
        </div>

        <div class="col-md-12 text-center spin-loader" ng-if="products.isLoading">
            Loading products ...<i class="fa fa-spinner spinning"></i>
        </div>
        <!-- Main Container--> 
        <div class="main-content main-content-horizontal" ng-class="{'col-md-12 col-sm-12 col-xs-12 no-stock' : products.noStock(), 'col-md-9 col-sm-10 col-xs-12' : (!products.noStock() && !products.noFilteredStock()) || products.noFilteredStock()}">
            <div class="row"
                 ng-if="products.pagination.totalPages > 1">
                <div class="col-md-6 col-sm-7 col-xs-6"></div>
                <div class="navigation-pages text-right col-md-6 col-sm-5 col-xs-6 margin-t-10">

                    <ul uib-pagination
                        class="pagination-sm margin-b-10"
                        previous-text="Previous"
                        next-text="Next"
                        items-per-page="50"
                        total-items="products.pagination.totalProducts"
                        num-pages="products.pagination.totalPages"
                        max-size="5"
                        ng-model="products.pagination.page"
                        ng-change="products.changePage()"></ul>
                </div>
            </div>

            <div class="row" ng-if="products.viewMode === 'list'">
                <!-- list view -->
                <div class="col-xs-12 product"
                     ng-repeat="p in products.details.products">
                    <div class="row product-details-row  border-up">
                        <div class="col-xs-2 col-sm-1 col-md-1 text-center product-checkbox">
                            <div class="form-group form-products" ng-if="p.availableQuantity > 0">
                                <input type="checkbox" id="{{p.id}}" ng-model="p.isSelected"
                                       ng-click="products.toggleProductSelection(p)" ng-disabled="products.isSeller" />
                                <label for="{{p.id}}" class=""><span></span></label>
                            </div>
                        </div>
                        <div class="col-xs-3 col-sm-2 col-md-2 text-center img-md">
                            <a class="text-center pointer" ng-click="products.goToDetails($event, p)">
                                <img ng-src="{{p.mainImageUrl}}" ng-show="p.showImage" imageonload="products.imageLoaded(p)" />
                                <img ng-src="images/product-listing-placeholder.jpg" ng-hide="p.showImage" />
                                <div class="sold-out-overlay" ng-if="p.availableQuantity === 0"></div>
                                <div class="sold-out-text" ng-if="p.availableQuantity === 0"><span>SOLD OUT</span></div>
                            </a>
                        </div>
                        <div class="col-xs-7 col-sm-6 col-md-6 about-product">
                            <p class="brand">
                                {{p.brandName}}
                                <span ng-if="p.hasTakeAll === true && p.availableQuantity > 0" class="take-all">TAKE ALL</span>
                            </p>
                            <p class="information">{{p.name}}</p>
                            <div class="row">
                                <div class="col-xs-6 col-sm-7 col-md-7">
                                    <p class="detail">id:<span>{{p.sku}}</span></p>
                                    <p class="detail">origin:<span>{{p.originName}}</span></p>
                                    <p class="detail">material:<span>{{p.standardMaterialName}}</span></p>
                                </div>
                                <div class="col-xs-6 col-sm-5 col-md-5">
                                    <p class="detail">color:<span>{{p.standardColorName}}</span></p>
                                    <p class="detail">season:<span>{{p.seasonName}}</span></p>
                                    <p class="detail">retail price:<span>{{p.retailPrice | currency :undefined:0}}</span></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-7 col-sm-3 col-md-3 price-part text-right">
                            <div class="row best-price">
                                <div class="col-xs-5 col-sm-3 col-sm-offset-1 col-md-4 col-md-offset-1 col-sm-4 lg-display text-left nopadding">
                                    <p>{{p.lmPrice | currency :undefined:0}}</p>
                                </div>
                                <div class="col-xs-7 col-sm-8 col-md-7 text-right lg-align">
                                    <p>{{p.discount}}% OFF</p>
                                </div>
                            </div>
                            <div class="dropdown qty-sizes">
                                <button class="btn-lm red-btn dropdown-toggle" ng-if="p.availableQuantity > 0" data-toggle="dropdown" ng-click="products.getSizes(products.companyId, p)">
                                    buy now<span><i class="fa fa-angle-down" aria-hidden="true"></i></span>
                                </button>
                                <button class="btn-lm red-btn dropdown-toggle" ng-if="p.availableQuantity === 0">
                                    SOLD OUT
                                </button>
                                <ul class="dropdown-menu qty-sizes-menu">
                                    <li>
                                        <div class="row">
                                            <div class="col-md-12 col-sm-12">
                                                <div class="row select-remove" ng-show="!p.lineBuy && !p.takeAll">
                                                    <p class="col-md-6 col-xs-6 pointer"
                                                       ng-click="products.selectAllSizes($event, p, 0)">
                                                        {{'PRODUCT_DETAILS_REMOVE_ALL'| translate}}
                                                    </p>
                                                    <p class="col-md-6 col-xs-6 pointer text-right"
                                                       ng-click="products.selectAllSizes($event, p, 1)">
                                                        {{'PRODUCT_DETAILS_SELECT_ALL'| translate}}
                                                    </p>
                                                </div>
                                                <div class="row select-remove" ng-show="p.takeAll || p.lineBuy">
                                                    <p class="col-md-12 col-sm-12 text-center">
                                                        <span ng-if="p.takeAll" class="font-18">{{'PRODUCT_DETAILS_TAKE_ALL'| translate}}</span>
                                                        <span ng-if="p.lineBuy && !p.takeAll">{{'PRODUCT_DETAILS_LINE_BUY'| translate}}</span>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="detail-order">
                                        <div class="row margin-0">
                                            <div class="col-md-4 col-sm-4 col-xs-4">
                                                <p class="padding-l-15">{{'PRODUCT_DETAILS_SIZE'| translate}}</p>
                                            </div>
                                            <div class="col-md-4 col-sm-4 col-xs-4">
                                                <p class="text-center">{{'PRODUCT_DETAILS_ORDER'| translate}}</p>
                                            </div>
                                            <div class="col-md-4 col-sm-4 col-xs-4">
                                                <p class="detail-qty">{{'PRODUCT_DETAILS_QTY'| translate}}</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="col-md-12 text-center" ng-if="products.sizes.length === 0">
                                            <i class="fa fa-spinner spinning margin-t-10 margin-b-10"></i>
                                        </div>
                                    </li>
                                    <li class="scrollbar-bar">
                                        <div class="items" ng-repeat="size in products.sizes">
                                            <div class="row margin-0 row-items">
                                                <div class="col-md-2 col-sm-3 col-xs-3">
                                                    <p class="size"><span>{{size.sizeName}}</span></p>
                                                </div>
                                                <div class="col-md-2 col-sm-2 col-xs-2 nopadding text-right">
                                                    <span class="square-icon-minus"
                                                          ng-if="!p.takeAll"
                                                          ng-click="products.addSize($event, p, size, 0)">
                                                        <i class="fa fa-minus-square-o" aria-hidden="true"></i>
                                                    </span>
                                                </div>
                                                <div class="col-md-2 col-sm-2 col-xs-2 nopadding text-right">
                                                    <span>{{size.currentQty}}</span>
                                                </div>
                                                <div class="col-md-2 col-sm-2 col-xs-2 nopadding text-right">
                                                    <span class="square-icon-plus"
                                                          ng-if="!p.takeAll"
                                                          ng-click="products.addSize($event, p, size, 1)">
                                                        <i class="fa fa-plus-square-o" aria-hidden="true"></i>
                                                    </span>
                                                </div>
                                                <div class="col-md-4 col-sm-3 col-xs-2 qty-details text-center">
                                                    {{'PRODUCT_DETAILS_OF'| translate}}&nbsp;<span>{{size.offerAvailableQuantity}}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="margin-b-15 margin-t-10 text-center items row-items">
                                        <button class="btn-lm btn-lm-add" ng-disabled="products.isSeller"
                                                ng-if="!p.takeAll"
                                                ng-click="products.addToCart($event, p)">
                                            {{'PRODUCT_DETAILS_ADD_TO_LINESHEET'| translate}}
                                        </button>
                                        <button class="btn-lm btn-lm-add"
                                                ng-if="p.takeAll"
                                                ng-click="products.viewTakeAllProducts($event, p)">
                                            {{'PRODUCT_DETAILS_VIEW_DEAL'| translate}}
                                        </button>
                                    </li>
                                </ul>
                            </div>

                            <div class="dropdown" ng-if="p.availableOffers > 1">
                                <button class="btn-lm empty-btn" ng-click="products.goToDetails($event, p)">shop additional offers<span><i class="fa fa-angle-right" aria-hidden="true"></i></span></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row products-list nopadding" ng-if="products.viewMode === 'grid'">
                <div class="product col-md-3 col-sm-4 col-xs-12 pointer"
                     ng-repeat="product in products.details.products"
                     ng-click="products.goToDetails($event, product)">
                    <a class="text-center">
                        <img ng-src="{{product.mainImageUrl}}" ng-show="product.showImage" imageonload="products.imageLoaded(product)" />
                        <img ng-src="images/product-listing-placeholder.jpg" ng-hide="product.showImage" />
                        <div ng-if="product.availableQuantity === 0"></div>
                        <div class="sold-out-overlay" ng-if="product.availableQuantity === 0"></div>
                        <div class="sold-out-text" ng-if="product.availableQuantity === 0"><span>SOLD OUT</span></div>
                        <div class="take-all" ng-if="product.hasTakeAll === true && product.availableQuantity > 0">
                            <span class="take-all-text">TAKE ALL</span>
                        </div>
                    </a>
                    <div class="product-caption">
                        <a class="product-brand">
                            {{product.brandName}}
                        </a>
                        <p class="product-name">{{product.name}}</p>
                        <p class="product-price">
                            <span class="listing-price">{{product.lmPrice | currency :undefined:0}}</span><span class="line"> | </span><span class="listing-discount">{{product.discount}}% Off</span>
                            <!--<span class="listing-price-text">{{'PRODUCT_LIST_BEST_PRICE'| translate}}</span>-->
                        </p>
                    </div>
                </div>
            </div>


            <div class="row products-list" ng-if="products.details.products.length === 0">
                <div class="col-md-12 text-center no-results" ng-if="products.noFilteredStock()">
                    <p class="bold">
                        {{'PRODUCT_LIST_NO_RESULT_FILTERED_1' | translate}}
                    </p>
                    <p class="bold">{{'PRODUCT_LIST_NO_RESULT_FILTERED_2' | translate}}</p>
                </div>
            </div>

            <div class="row  margin-t-20" ng-if="!products.isLoading">
                <div class="col-sm-6 col-md-6 nopadding text-start">
                    <div class="vertical-list-actions-wrapper text-left" ng-if="products.viewMode === 'list' && products.details.products.length > 0">
                        <button ng-disabled="products.isSeller" class="btn-lm btn-lm-list margin-r-10"
                                ng-click="products.selectAll()">
                            {{products.isSelectedAll ? 'Deselect All' : 'Select All'}}
                        </button>
                        <button ng-disabled="products.isSeller" class="btn-lm btn-lm-list red"
                                ng-click="products.addSelectedProducts()">
                            Add to Cart <i ng-if="products.isLoadingAddSelected" class="fa fa-spinner spinning"></i>
                        </button>
                    </div>
                </div>
                <div class="navigation-pages text-right col-md-6 text-right"
                     ng-if="products.pagination.totalPages > 1">
                    <ul uib-pagination
                        class="pagination-sm"
                        previous-text="Previous"
                        next-text="Next"
                        items-per-page="50"
                        total-items="products.pagination.totalProducts"
                        num-pages="products.pagination.totalPages"
                        max-size="5"
                        ng-model="products.pagination.page"
                        ng-change="products.changePage()"></ul>
                </div>
            </div>

            <div class="row" ng-if="products.showTakeAll && !products.isSeller && !products.isLoading">
                <div class="col-md-9 hidden-xs col-sm-6"></div>
                <div class="col-md-3 col-xs-12 col-sm-6 text-right margin-t-15">
                    <button class="btn-lm btn-lm-shopping take-all-btn"
                            ng-click="products.addTakeAll($event)"
                            data-toggle="dropdown" type="button" id="dLabel">
                        {{'PRODUCT_LIST_BUY_ALL'| translate}}
                        <i class="fa" ng-class="{'fa-spinner spinning' : products.isAddingOffer}" aria-hidden="true"></i>
                    </button>
                </div>
            </div>

            <div class="row products-list"
                 ng-if="!products.isLoading">
                <div class="col-md-12 text-center no-results" ng-if="products.noStock()">
                    <p class="bold">{{'PRODUCT_LIST_NO_RESULT_1' | translate}}</p>
                    <p class="bold">{{'PRODUCT_LIST_NO_RESULT_2' | translate}}</p>
                    <p class="bold">{{'PRODUCT_LIST_NO_RESULT_3' | translate}}</p><br />
                </div>
            </div>
        </div>
    </div>
</div>