﻿<div class="container description-container">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="navigation margin-t-10">
                <a href="#">Home</a>
                <span ng-bind="products.title"></span>
            </div>
            <div class="subtitle-home margin-t-20 left">
                <p class="first-subtitle subtitle" ng-bind="products.title"></p>
                <p class="second-subtitle text-left" ng-bind="products.subtitle"></p>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-2 col-xs-2 sidebar">
            <form>
                <h2 class="sidebar-title">Categories</h2>
                <div class="radio radio-box">
                    <input type="radio" id="woman" name="iCheck" />
                    <label for="woman" class="radio-label"><span></span>Womens</label>
                </div>
                <div class="radio radio-box">
                    <input type="radio" id="men" name="iCheck" />
                    <label for="men" class="radio-label"><span></span>Men</label>
                </div>
                <div class="radio radio-box">
                    <input type="radio" id="children" name="iCheck" />
                    <label for="children" class="radio-label"><span></span>Children</label>
                </div>
                <ul class="no-padding-l">
                    <li class="font-list">
                        <span class="caret caret-right"></span>Apparel
                        <!--<ul class="apparel-list">
                            <li><span class="caret caret-down"></span>Dresses &#38; Skirts</li>
                            <li>
                                <div class="checkbox check-box">
                                    <input type="checkbox" id="dresses" name="iCheck" />
                                    <label for="dresses"><span></span>Dresses</label>
                                </div>
                            </li>
                            <li>
                                <div class="checkbox check-box">
                                    <input type="checkbox" id="skirts" name="iCheck" />
                                    <label for="skirts"><span></span>Skirts</label>
                                </div>
                            </li>
                            <li><span class="caret caret-down"></span>Top &#38; Sweaters</li>
                            <li>
                                <div class="checkbox check-box">
                                    <input type="checkbox" id="tops" name="iCheck" />
                                    <label for="tops"><span></span>Tops</label>
                                </div>
                            </li>
                            <li>
                                <div class="checkbox check-box">
                                    <input type="checkbox" id="sweaters" name="iCheck" />
                                    <label for="sweaters"><span></span>Sweaters</label>
                                </div>
                            </li>
                            <li>
                                <div class="checkbox check-box">
                                    <input type="checkbox" id="cardigans" name="iCheck" />
                                    <label for="cardigans"><span></span>Cardigans</label>
                                </div>
                            </li>
                            <li>
                                <div class="checkbox check-box">
                                    <input type="checkbox" id="jerseys" name="iCheck" />
                                    <label for="jerseys"><span></span>Jerseys</label>
                                </div>
                            </li>
                            <li>
                                <div class="checkbox check-box">
                                    <input type="checkbox" id="tshirts" name="iCheck" />
                                    <label for="tshirts"><span></span>T-shirts</label>
                                </div>
                            </li>
                            <li>
                                <div class="checkbox check-box">
                                    <input type="checkbox" id="polos" name="iCheck" />
                                    <label for="polos"><span></span>Polos</label>
                                </div>
                            </li>
                            <li>
                                <div class="checkbox check-box">
                                    <input type="checkbox" id="knitwear" name="iCheck" />
                                    <label for="knitwear"><span></span>Knitwear</label>
                                </div>
                            </li>
                            <li>
                                <div class="checkbox check-box">
                                    <input type="checkbox" id="pullovers" name="iCheck" />
                                    <label for="pullovers"><span></span>Pullovers</label>
                                </div>
                            </li>
                            <li>
                                <span class="caret-right"></span>Denim &#38; pants
                            </li>
                            <li><span class="caret-right"></span>Outerwear</li>
                            <li><span class="caret-right "></span>Intimates</li>
                            <li><span class="caret-right"></span>Sport and Swim</li>
                        </ul>-->
                    </li>
                    <li class="font-list">
                        <span class="caret caret-right"></span>Non-Apparel
                        <!--<ul class="apparel-list">
                            <li><span class="caret-right"></span>Shoes</li>
                            <li><span class="caret-right"></span>Bags &#38; Totes</li>
                            <li><span class="caret-right"></span>Small Leother Goods</li>
                            <li><span class="caret-right"></span>Accessories</li>
                            <li><span class="caret-right"></span>Watches</li>
                            <li><span class="caret-right"></span>Jewelry</li>
                            <li><span class="caret-right"></span>Beauty</li>
                        </ul>-->
                    </li>
                </ul>
                <h2 class="sidebar-title">Brands</h2>
                <ul class="no-padding-l">
                    <li>
                        <div class="checkbox check-box">
                            <input type="checkbox" id="katespade" name="iCheck" checked/>
                            <label for="katespade"><span></span>Prada</label>
                        </div>
                    </li>
                </ul>
                <h2 class="sidebar-title">Color</h2>
                <div class="padding-l-20">
                    <div class="beige-color colors"></div>
                    <div class="black-color colors"></div>
                    <div class="blue-color colors"></div>
                    <div class="brown-color colors"></div>
                    <div class="green-color colors"></div>
                    <div class="gray-color colors"></div>
                    <br />
                    <!-- Rainbow color -->
                    <div class="orange-color colors"></div>
                    <div class="pink-color colors"></div>
                    <div class="purple-color colors"></div>
                    <div class="red-color colors"></div>
                    <div class="yellow-color colors"></div>
                    <br />
                    <!-- Black and white color-->
                    <div class="white-color colors"></div>
                </div>
            </form>
        </div>
        <div class="main-content col-md-9 col-sm-10 col-xs-12">
            <div class="row">
                <div class="products-list col-md-12 nopadding">
                    <div class="row">
                        <div class="product col-md-3 col-sm-3 col-xs-12 nopadding pointer" ng-repeat="product in products.list" ng-click="products.goToDetails($event, product)">
                            <a class="text-center">
                                <img ng-src="{{product.imageUrl}}" ng-show="product.showImage" imageonload="products.imageLoaded(product)" />
                                <div class="image-loader" ng-hide="product.showImage">
                                    <i class="fa fa-spinner spinning"></i>
                                </div>
                            </a>
                            <div class="product-caption">
                                <a href="#" class="product-brand" ng-bind="product.brandName"></a>
                                <span class="product-name" ng-bind="product.name"></span>
                                <p class="product-price">Best price&#58; <span>{{product.lmPrice | currency :undefined:0}}</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>