﻿<div class=" design-container container-fluid container-pages">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="navigation margin-t-10">
                <a href="#">{{'PRODUCT_DETAILS_HOME'| translate}}</a>
                <a href="#" ng-repeat="breadcrumb in pd.breadcrumbs" ng-click="pd.navigateToBreadcrumb($event, breadcrumb)" ng-bind="breadcrumb.title"></a>
                <a ng-bind="pd.product.name"></a>
            </div>
        </div>
    </div>
</div>
<div class=" design-container container-fluid product-image">
    <div class="row" ng-if="!pd.isLoading">
        <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="row">
                <div class="col-md-12 col-sm-12 first-image">
                    <img ng-src="{{pd.product.mainImageUrl}}" />
                </div>
            </div>
            <div class="row margin-t-10">
                <div class="col-md-12 col-sm-12 images">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-6 third-image pointer" ng-click="pd.flipImage($event, image)" ng-repeat="image in pd.product.imagesUrls">
                            <img ng-src="{{image.url}}" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8 col-sm-8 col-xs-12">
            <div class="row border-box">
                <div class="col-lg-7 col-md-6 col-sm-7 col-xs-12 nopadding margin-t-20 padding-xs">
                    <div class="row">
                        <div class="product-title col-md-12 col-sm-12">
                            <div class="row">
                                <div class="col-md-9 col-sm-10">
                                    <p class="product-subtitle">{{pd.product.name | lowercase}}</p>
                                    <p class="brand" ng-bind="pd.product.brandName"></p>
                                </div>
                                <div class="col-md-3 col-sm-2"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12 product-details">
                            <div class="row">
                                <div class="col-lg-7 col-md-7 col-sm-7 landscape-view">
                                    <p class="product-info">{{'PRODUCT_DETAILS_PRODUCT_ID'| translate}}&#58; <span>{{pd.product.sku}}</span></p>
                                    <p class="product-info">{{'PRODUCT_DETAILS_ORIGIN'| translate}}&#58; <span>{{pd.product.originName}}</span></p>
                                    <p class="product-info">{{'PRODUCT_DETAILS_MATERIAL'| translate}}&#58; <span>{{pd.product.materialName}}</span></p>
                                </div>
                                <div class="col-lg-5 col-md-5 col-sm-5 landscape-view">
                                    <p class="product-info">{{'PRODUCT_DETAILS_COLOR'| translate}}&#58; <span>{{pd.product.colorName}}</span></p>
                                    <p class="product-info">{{'PRODUCT_DETAILS_SEASON'| translate}}&#58; <span>{{pd.product.seasonName}}</span></p>
                                    <p class="product-info">{{'PRODUCT_DETAILS_RETAIL_PRICE'| translate}}&#58; <span>{{pd.product.retailPrice | currency :undefined:0}}</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-md-6 col-sm-5 col-xs-12 margin-t-20 price-details">
                    <div class="row">
                        <div class="col-md-5 col-sm-5 col-xs-12 nopadding padding-xs">
                            <p class="price" ng-if="pd.product.bestPriceOffer">{{'PRODUCT_DETAILS_BEST_PRICE'| translate}}&#58;</p>
                        </div>
                        <div class="col-md-7 col-sm-7 col-xs-12 nopadding padding-xs">
                            <button class="btn-lm btn-lm-price">
                                <span ng-if="!pd.product.bestPriceOffer">SOLD OUT</span>
                                <span ng-if="pd.product.bestPriceOffer">{{pd.product.bestPriceOffer.lmPrice | currency :undefined:0}}</span>
                            </button>
                            <div ng-if="pd.product.bestPriceOffer">
                                <p class="price-info">{{'PRODUCT_DETAILS_DISCOUNT'| translate}}&#58;<span class="discount-font">{{pd.product.bestPriceOffer.discount | number:0}}%</span></p>
                                <p class="price-info">{{'PRODUCT_DETAILS_AVAILABLE_UNITS'| translate}}&#58;<span>{{pd.product.bestPriceOffer.availableUnitsOnOffer > 0 ? pd.product.bestPriceOffer.availableUnitsOnOffer : pd.product.bestPriceOffer.availableQuantity}}</span></p>
                                <p class="price-info">{{'PRODUCT_DETAILS_SHIPS_FROM'| translate}}&#58;<span>{{pd.product.bestPriceOffer.shipsFrom}}</span></p>
                                <p class="price-info">{{'PRODUCT_DETAILS_SELLER'| translate}}&#58;<span ng-click="pd.viewSellerProducts($event, pd.product, pd.product.bestPriceOffer)" class="pointer action-link">{{pd.product.bestPriceOffer.companyName}}</span></p>
                                <p class="price-info">
                                    {{'PRODUCT_DETAILS_BUY_TYPE'| translate}}&#58;
                                    <span ng-show="pd.product.bestPriceOffer.takeAll" class="take-all-buy">{{'PRODUCT_DETAILS_TAKE_ALL'| translate}}</span>
                                    <span ng-show="pd.product.bestPriceOffer.lineBuy && !pd.product.bestPriceOffer.takeAll">{{'PRODUCT_DETAILS_LINE_BUY'| translate}}</span>
                                    <span ng-show="!pd.product.bestPriceOffer.lineBuy && !pd.product.bestPriceOffer.takeAll">{{'PRODUCT_DETAILS_ITEM'| translate}}</span>
                                </p>
                                <div class="dropdown qty-sizes">
                                    <button class="btn-lm btn-lm-empty btn-lm-buy dropdown-toggle" data-toggle="dropdown" type="button" id="dLabel">
                                        <span ng-if="pd.product.bestPriceOffer.reservedTimeSeconds === 0 && pd.product.bestPriceOffer.availableUnitsOnOffer > 0">{{'PRODUCT_DETAILS_BUY_NOW'| translate}}</span>
                                        <span ng-if="pd.product.bestPriceOffer.reservedTimeSeconds > 0 && pd.product.bestPriceOffer.availableUnitsOnOffer > 0">{{'PRODUCT_DETAILS_UPDATE_CART' | translate}}</span>
                                        <span ng-if="pd.product.bestPriceOffer.availableUnitsOnOffer === 0">{{'PRODUCT_DETAILS_RESERVED' | translate}}</span>
                                        <i class="" ng-if="pd.product.bestPriceOffer.availableUnitsOnOffer > 0"
                                           ng-class="{ 'fa fa-angle-down arrow-up' : pd.product.bestPriceOffer.reservedTimeSeconds === 0, 'lm-lock' : pd.product.bestPriceOffer.reservedTimeSeconds > 0}" aria-hidden="true"></i>
                                    </button>
                                    <ul class="dropdown-menu qty-sizes-menu" ng-if="pd.product.bestPriceOffer.availableUnitsOnOffer > 0" aria-labelledby="dLabel">
                                        <li class="margin-t-15">
                                            <div class="padding-l-15">
                                                <p class="dropdown-title">{{pd.product.bestPriceOffer.companyName}}</p>
                                                <p class="dropdown-subtitle">{{'PRODUCT_DETAILS_SHIPS_FROM'| translate}}&#58; {{pd.product.bestPriceOffer.shipsFrom}}</p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="row">
                                                <div class="col-md-12 col-sm-12">
                                                    <div class="row select-remove" ng-show="!pd.product.bestPriceOffer.lineBuy && !pd.product.bestPriceOffer.takeAll">
                                                        <p class="col-md-6 col-xs-6 pointer" ng-click="pd.selectAllSizes($event, pd.product.bestPriceOffer, 0)">
                                                            {{'PRODUCT_DETAILS_REMOVE_ALL'| translate}}
                                                        </p>
                                                        <p class="col-md-6 col-xs-6 pointer text-right" ng-click="pd.selectAllSizes($event, pd.product.bestPriceOffer, 1)">
                                                            {{'PRODUCT_DETAILS_SELECT_ALL'| translate}}
                                                        </p>
                                                    </div>
                                                    <div class="row select-remove" ng-show="pd.product.bestPriceOffer.takeAll || pd.product.bestPriceOffer.lineBuy">
                                                        <p class="col-md-12 col-sm-12 text-center">
                                                            <span ng-show="pd.product.bestPriceOffer.takeAll" class="font-18">{{'PRODUCT_DETAILS_TAKE_ALL'| translate}}</span>
                                                            <span ng-show="pd.product.bestPriceOffer.lineBuy && !pd.product.bestPriceOffer.takeAll">{{'PRODUCT_DETAILS_LINE_BUY'| translate}}</span>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="detail-order">
                                            <div class="row margin-0">
                                                <div class="col-md-4 col-sm-4 col-xs-4">
                                                    <p class="padding-l-15">{{'PRODUCT_DETAILS_SIZE'| translate}}</p>
                                                </div>
                                                <div class="col-md-4 col-sm-4 col-xs-4">
                                                    <p class="text-center">{{'PRODUCT_DETAILS_ORDER'| translate}}</p>
                                                </div>
                                                <div class="col-md-4 col-sm-4 col-xs-4">
                                                    <p class="detail-qty">{{'PRODUCT_DETAILS_QTY'| translate}}</p>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="scrollbar-bar">
                                            <div class="items" ng-repeat="size in pd.product.bestPriceOffer.sizes" ng-init="pd.initSize(pd.product.bestPriceOffer, size)">
                                                <div class="row margin-0 row-items">
                                                    <div class="col-md-2 col-sm-3 col-xs-3">
                                                        <p class="size"><span>{{size.sizeName}}</span></p>
                                                    </div>
                                                    <div class="col-md-2 col-sm-2 col-xs-2 nopadding text-right"><span class="square-icon-minus" ng-if="!pd.product.bestPriceOffer.takeAll" ng-click="pd.addSize($event, pd.product.bestPriceOffer, size, 0)"><i class="fa fa-minus-square-o" aria-hidden="true"></i></span></div>
                                                    <div class="col-md-2 col-sm-2 col-xs-2 nopadding text-right"><span>{{size.currentQty}}</span></div>
                                                    <div class="col-md-2 col-sm-2 col-xs-2 nopadding text-right"><span class="square-icon-plus" ng-if="!pd.product.bestPriceOffer.takeAll" ng-click="pd.addSize($event, pd.product.bestPriceOffer, size, 1)"><i class="fa fa-plus-square-o" aria-hidden="true"></i></span></div>
                                                    <div class="col-md-4 col-sm-3 col-xs-2 qty-details text-center">{{'PRODUCT_DETAILS_OF'| translate}}&nbsp;<span>{{size.offerAvailableQuantity}}</span></div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="margin-b-15 margin-t-10 text-center items row-items">
                                            <button class="btn-lm btn-lm-add" ng-disabled="pd.isSeller" ng-if="!pd.product.bestPriceOffer.takeAll" ng-click="pd.addToCart($event, pd.product.bestPriceOffer)">{{'PRODUCT_DETAILS_ADD_TO_LINESHEET'| translate}}</button>
                                            <button class="btn-lm btn-lm-add" ng-if="pd.product.bestPriceOffer.takeAll" ng-click="pd.viewTakeAllProducts($event, pd.product, pd.product.bestPriceOffer)">{{'PRODUCT_DETAILS_VIEW_DEAL'| translate}}</button>
                                        </li>
                                    </ul>
                                </div>
                                <div class="pd-timer-wrapper">
                                    <timer class="pd-timer" ng-if="pd.product.bestPriceOffer.reservedTimeSeconds > 0" countdown="pd.product.bestPriceOffer.reservedTimeSeconds"
                                           interval="1000">
                                        <span class="bold">
                                            {{hhours}}:{{mminutes}}:{{sseconds}}h
                                        </span><span class="uppercase">Left</span>
                                    </timer>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 nopadding border-box padding-xs">
                    <p class="details margin-0">{{'PRODUCT_DETAILS_DESCRIPTION'| translate}}</p>
                    <p class="description" ng-bind-html="pd.product.description"></p>
                </div>
            </div>
            <div class="row" ng-if="pd.product.offers.length > 0">
                <div class="col-md-12 col-xs-12 nopadding aditional-details">
                    <p class="details margin-b-10">{{'PRODUCT_DETAILS_ADDITIONAL_OFFERS_SIZE'| translate}} &#38; {{'PRODUCT_DETAILS_UNIT_DETAILS'| translate}}</p>
                    <div class="row margin-0">
                        <div class="col-md-4 col-sm-4 col-xs-6 nopadding margin-b-20" ng-repeat="offer in pd.product.offers">
                            <div>
                                <p class="price-info">{{'PRODUCT_DETAILS_OFFER_PRICE'| translate}}&#58;<span class="bold-price">{{offer.lmPrice | currency :undefined:0}}</span></p>
                                <p class="price-info">{{'PRODUCT_DETAILS_AVAILABLE_UNITS'| translate}}&#58;<span>{{offer.availableUnitsOnOffer > 0 ? offer.availableUnitsOnOffer : offer.availableQuantity}}</span></p>
                                <p class="price-info">{{'PRODUCT_DETAILS_DISCOUNT'| translate}}&#58;<span class="discount-font">{{offer.discount | number:0}}%</span></p>
                                <p class="price-info">{{'PRODUCT_DETAILS_SHIPS_FROM'| translate}}&#58;<span>{{offer.shipsFrom}}</span></p>
                                <p class="price-info">{{'PRODUCT_DETAILS_SELLER'| translate}}&#58;<span ng-click="pd.viewSellerProducts($event, pd.product, offer)" class="pointer action-link">{{offer.companyName}}</span></p>
                                <p class="price-info">
                                    {{'PRODUCT_DETAILS_BUY_TYPE'| translate}}e&#58;
                                    <span class="take-all-buy" ng-show="offer.takeAll">{{'PRODUCT_DETAILS_TAKE_ALL'| translate}}</span>
                                    <span class="" ng-show="offer.lineBuy && !offer.takeAll">{{'PRODUCT_DETAILS_LINE_BUY'| translate}}</span>
                                    <span class="" ng-show="!offer.lineBuy && !offer.takeAll">{{'PRODUCT_DETAILS_ITEM'| translate}}</span>
                                </p>
                                <div class="dropdown qty-sizes">
                                    <button class="btn-lm btn-lm-empty btn-lm-buy dropdown-toggle" data-toggle="dropdown" type="button" id="dLabel">
                                        <span ng-if="offer.reservedTimeSeconds === 0 && offer.availableUnitsOnOffer > 0">{{'PRODUCT_DETAILS_BUY_NOW'| translate}}</span>
                                        <span ng-if="offer.reservedTimeSeconds > 0 && offer.availableUnitsOnOffer > 0">{{'PRODUCT_DETAILS_UPDATE_CART' | translate}}</span>
                                        <span ng-if="offer.availableUnitsOnOffer === 0">{{'PRODUCT_DETAILS_RESERVED' | translate}}</span>
                                        <i class="" ng-if="offer.availableUnitsOnOffer > 0"
                                           ng-class="{ 'fa fa-angle-down arrow-up' : offer.reservedTimeSeconds === 0, 'lm-lock' : offer.reservedTimeSeconds > 0}" aria-hidden="true"></i>
                                    </button>
                                    <ul class="dropdown-menu qty-sizes-menu" ng-if="offer.availableUnitsOnOffer > 0" aria-labelledby="dLabel">
                                        <li class="margin-t-15">
                                            <div class="padding-l-15">
                                                <p class="dropdown-title">{{offer.companyName}}</p>
                                                <p class="dropdown-subtitle">{{'PRODUCT_DETAILS_SHIPS_FROM'| translate}}&#58; {{offer.shipsFrom}}</p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="row">
                                                <div class="col-md-12 col-sm-12">
                                                    <div class="row select-remove" ng-show="!offer.lineBuy && !offer.takeAll">
                                                        <p class="col-md-6 col-xs-6 pointer" ng-click="pd.selectAllSizes($event, offer, 0)">
                                                            {{'PRODUCT_DETAILS_REMOVE_ALL'| translate}}
                                                        </p>
                                                        <p class="col-md-6 col-xs-6 text-right pointer" ng-click="pd.selectAllSizes($event, offer, 1)">
                                                            {{'PRODUCT_DETAILS_SELECT_ALL'| translate}}
                                                        </p>
                                                    </div>
                                                    <div class="row select-remove" ng-show="offer.takeAll || offer.lineBuy">
                                                        <p class="col-md-12 col-sm-12 text-center">
                                                            <span ng-show="offer.takeAll" class="font-18">{{'PRODUCT_DETAILS_TAKE_ALL'| translate}}</span>
                                                            <span ng-show="offer.lineBuy && !offer.takeAll">{{'PRODUCT_DETAILS_LINE_BUY'| translate}}</span>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="detail-order">
                                            <div class="row margin-0">
                                                <div class="col-md-4 col-sm-4 col-xs-4">
                                                    <p class="padding-l-15">{{'PRODUCT_DETAILS_SIZE'| translate}}</p>
                                                </div>
                                                <div class="col-md-4 col-sm-4 col-xs-4">
                                                    <p class="text-center">{{'PRODUCT_DETAILS_ORDER'| translate}}</p>
                                                </div>
                                                <div class="col-md-4 col-sm-4 col-xs-4">
                                                    <p class="detail-qty">{{'PRODUCT_DETAILS_QTY'| translate}}</p>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="scrollbar-bar">
                                            <div class="items" ng-repeat="size in offer.sizes" ng-init="pd.initSize(offer, size)">
                                                <div class="row margin-0 row-items">
                                                    <div class="col-md-2 col-xs-4">
                                                        <p class="size"><span>{{size.sizeName}}</span></p>
                                                    </div>
                                                    <div class="col-md-2 col-xs-2 nopadding text-right"><i ng-click="pd.addSize($event, offer, size, 0)" ng-if="!offer.takeAll" class="fa fa-minus-square-o icon pointer" aria-hidden="true"></i></div>
                                                    <div class="col-md-2 col-xs-2 nopadding text-right align-xs"><span>{{size.currentQty}}</span></div>
                                                    <div class="col-md-2 col-xs-2 nopadding text-right"><span ng-if="!offer.takeAll" ng-click="pd.addSize($event, offer, size, 1)"><i class="fa fa-plus-square-o icon pointer" aria-hidden="true"></i></span></div>
                                                    <div class="col-md-4 col-xs-4 qty-details">{{'PRODUCT_DETAILS_OF'| translate}}&nbsp;<span>{{size.offerAvailableQuantity}}</span></div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="margin-b-15 margin-t-10 text-center items row-items">
                                            <button class="btn-lm btn-lm-add" ng-disabled="pd.isSeller" ng-if="!offer.takeAll" ng-click="pd.addToCart($event, offer)">{{'PRODUCT_DETAILS_ADD_TO_LINESHEET'| translate}}</button>
                                            <button class="btn-lm btn-lm-add" ng-if="offer.takeAll" ng-click="pd.viewTakeAllProducts($event, pd.product, offer)">{{'PRODUCT_DETAILS_VIEW_DEAL'| translate}}</button>
                                        </li>
                                    </ul>
                                </div>
                                <div class="pd-timer-wrapper">
                                    <timer class="pd-timer" ng-if="offer.reservedTimeSeconds > 0" countdown="offer.reservedTimeSeconds"
                                           interval="1000">
                                        <span class="bold">
                                            {{hhours}}:{{mminutes}}:{{sseconds}}h
                                        </span><span class="uppercase">Left</span>
                                    </timer>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row  nopadding aditional-details">
                <div class="col-lg-4 col-lg-offset-8 col-md-5 col-md-offset-7 col-sm-5 col-sm-offset-7 margin-t-20">
                    <button class="btn-lm btn-lm-shopping full-width"
                        ng-click="pd.continueShopping($event)">
                      {{'PRODUCT_DETAILS_CONTINUE_SHOPPING'| translate}}
                      <i class="fa fa-angle-right arrow padding-l-20" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-if="pd.isLoading">
        <div class="col-md-12 margin-t-40 margin-b-40 text-center">
            Loading product details... <i class="fa fa-spinner spinning"></i>
        </div>
    </div>
</div>
