﻿<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="ds.close()">&times;</button>
    <p class="modal-title" ng-bind="ds.title | translate"></p>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <p class="message-delete" ng-bind="ds.question | translate"></p>
        </div>
    </div>
</div>
<div class="modal-footer">
    <div class="row">
        <div class="col-md-6 col-xs-6 text-left">
            <button class="btn-lm btn-lm-cancel margin-b-20" ng-click="ds.close()">{{'SHIPMENT_CONFIRM_CANCEL_NO'| translate}}</button>
        </div>
        <div class="col-md-6 col-xs-6 text-right">
            <button class="btn-lm btn-lm-save margin-b-20" ng-click="ds.submit($event)">
                {{'SHIPMENT_CONFIRM_CANCEL_YES'| translate}}
                <i class="fa fa-spinner spinning" ng-show="ds.isLoading"></i>
            </button>
        </div>
    </div>
</div>
