﻿<div class="container">
    <div class="row top-register">
        <div class="col-md-2"></div>
        <div class="col-md-8 font-18">
            <h1 class="title text-center margin-t-40">Authenticity</h1>
            <p class="margin-t-20 text-justify">The Luxury Market team is 100% committed to fighting counterfeit goods and fraud. To achieve this goal, we partner closely with the Authentication Council (see below for team information) to ensure that only genuine merchandise is offered on our site. This independent team of security, investigative and luxury brand experts reviews each supplier in detail BEFORE the supplier gains access to the Luxury Market platform. In addition, Luxury Market conducts all Quality Control and transportation through one end-to-end logistics partner, which guarantees the highest level of security and standards. And, of course, all suppliers are required to provide invoice evidence for every product offered on the site.</p>
            <p>Our commitment:</p>
            <ul class="list-style-circle">
                <li>All partners are reviewed for prior fraud, counterfeiting and/or dubious business practices</li>
                <li>Defined quality control, shipment and security protocol for every order</li>
                <li>Customs documentation must meet all U.S. and international requirements</li>
                <li>Invoice evidence must match brand and product specifications</li>
                <li>All customer issues regarding merchandise authenticity are investigated by the Authenticity Council</li>
            </ul>
            <p class="margin-t-20">Authentication Council Members include:</p>
            <p><span class="bold">James Buckley</span>, President, Authentication Council and Career Law Enforcement Professional</p>
            <p><span class="bold">Timothy Williams</span>, Former Director, Interpol</p>
            <p><span class="bold">Edwin Petersen</span>, Former Special Agent, U.S. Federal Bureau of Investigations</p>
            <p><span class="bold">Theresa Reilly</span>, Former Special Agent, U.S. Federal Bureau of Investigations</p>
            <p><span class="bold">Sarah Easley</span>, Founder Kirna Zabete Boutique, New York</p>
            <p><span class="bold">Joseph Mannucci</span>, Former Agent, U.S. Customs Bureau</p>
            <p><span class="bold">John Barelli</span>, Former Head of Security, Metropolitan Museum of Art</p>
            <p class="text-center margin-t-40">
                <a href="#" ng-click="staticcontent.goBack($event)" ng-bind="staticcontent.goBackText"></a>
            </p>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>