﻿<div class="container">
    <div class="row top-register">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="font-18">
                <h3 class="margin-t-40 font-18 text-black">Privacy Policy</h3>
                <p>
                    This Privacy Policy (this "Policy") is effective as of March 1 2017.  If you do not agree to this Policy, you may not use this site.  Your prior activities on the site may have been controlled by an earlier version of this Policy.
                </p>
                <p>
                    The purpose of this site is to provide a way for businesses to advertise, sell, and purchase luxury goods to or from other businesses.
                </p>
                <p>
                    This Policy describes how we handle information learned about you through the site.  If you have questions or wish to contact us about this Policy, you may direct inquiries to:
                </p>
                <p>
                    Luxury Market<br />
                    Address: 230 West 38th Street, New York NY 10018<br />
                    Email: support@luxurymarket.com<br />
                </p>
                <p>
                    From time to time, we may use your information in new ways.  If this site’s information practices change materially at some time in the future, we will post the changes to this website and revise this Policy accordingly.  In addition, if we have collected personally-identifying information from you, we will notify you about the changes and get your consent before making use of your information in new ways.
                </p>

                <h3 class="margin-t-40 font-18 text-black">WHAT INFORMATION DO WE COLLECT?</h3>
                <p>The information we collect varies depending upon your activities when using the site.  We collect personally-identifying information you choose to provide to us on the site, including when you submit information or materials through the site, when you apply to become a user of the site, or when you register for an account.  This information may include your name, address, phone number, email address, financial account, credit check, or payment details, and any other information you provide to us.</p>
                <p>
                    Additional information we collect:
                </p>
                <p>
                    In addition, for each visitor to our site, we automatically gather certain other potentially identifying information and store it in log files.  This information includes (as applicable) internet protocol (IP) addresses, browser type, internet service provider (ISP), referring/exit pages, your operating system, date/time stamp, geolocation, processor or device serial number, unique device identifier, and clickstream data.  We collect and store this information on an individual basis and in aggregate, or combined, form.  We also collect both user-specific and aggregate information on what pages visitors access or visit.
                </p>

                <h3 class="margin-t-40 font-18 text-black">HOW DO WE USE THIS INFORMATION?</h3>
                <p>
                    When you contact us and provide your contact information, such as an email address, we may use that information to answer any questions you may ask through the site or to contact you regarding your communication sent through the site.  We may also use the information to send you emails or additional information about the site or its contents, to analyze trends, to administer the site, to track users’ use of the site, and to gather demographic information about our user base.  If you apply to receive a user account, including to become a buyer or seller of merchandise on the site, we will use the information you provide to evaluate your application, run a credit check, and otherwise determine whether to provide you with a user account.  We may also use this information to improve the content of the site, and to customize the content and layout of our pages.  All of this is done with the intention of making the site more useful to users.
                </p>
                <p>
                    Certain information you provide, such as certain information about products you are selling through the site, will be made public for others to see.
                </p>
                <p>
                    We will share your personal information with trusted third parties who assist us in operating our website, so long as these parties agree to keep the information confidential.  We may also release your personal information when we believe release is appropriate to comply with the law, enforce our site policies, or protect our safety, property, or rights, or the safety, property, or rights of others.  Certain aggregate information, such as sales numbers, may also be shared with third parties for the purposes of promoting or operating the site.  Otherwise, we do not rent, sell, or transfer personal information to any third parties.
                </p>
                <p>
                    In the future, this site could be sold or transferred.  If that happens, the information we have gathered may be one of the assets transferred.
                </p>

                <h3 class="margin-t-40 font-18 text-black">HOW LONG DO WE KEEP YOUR INFORMATION?</h3>
                <p>We may retain certain anonymous, de-identified or aggregated information indefinitely for technical purposes or market research.  So long as your account remains active, your account information will be retained.  You may request deletion of your account by contacting us.  Until you ask us to delete it, we may also retain your email address or other contact information you provide for the purposes of sending you information about the site.  However, we reserve the right to use your information in aggregate form with other users to understand performance, trends, patterns or other behaviors.  We reserve the right to delete information when it is no longer needed for any of the uses discussed in this Policy.</p>

                <h3 class="margin-t-40 font-18 text-black">COOKIES</h3>
                <p>A cookie is a small text file that is stored on a user’s computer for record-keeping purposes.  If you reject cookies, you may still use our site, but your ability to use some areas of our site will be limited.  We use session cookies to make it easier for you to navigate our site.  We use session cookies to record session information, such as which web pages a user has visited, and to track user activity on the site.  We also use session cookies to store any passwords used on the site (such as a password associated with a user account), so you don’t have to enter it more than once per session.  Session cookies expire when you close your browser.</p>

                <h3 class="margin-t-40 font-18 text-black">INFORMATION ACCESS</h3>
                <p>If you would like to find out what information we have about you, or if you would like to correct or update any information, you may contact us using the information above.  We can ask you for information to verify your identity before we disclose or correct any information.  If we ask for verification, the information you provide to verify your identity will be used only for that purpose, and this information will be destroyed when the process is complete.</p>

                <h3 class="margin-t-40 font-18 text-black">SECURITY</h3>
                <p>The security of your personal information is important to us.  We follow industry standards to protect the personal information we collect and save.  Remember that nothing online is 100% secure.  While we use standard methods to protect your personal information, we cannot guarantee its absolute security.</p>

                <h3 class="margin-t-40 font-18 text-black">"DO NOT TRACK" SIGNALS</h3>
                <p>We do not currently have the capability to recognize browser "Do Not Track" signals.  We adhere to the standards set forth in this privacy policy.</p>

                <h3 class="margin-t-40 font-18 text-black">LINKS TO THIRD PARTY SITES</h3>
                <p>
                    This Policy applies only to information collected by this website.  From time to time, this website may link you to other sites (“Linked Sites”) that are not owned by us.  We do not control the collection or use of any information, including personal information, that occurs during your visit to the Linked Sites.  Further, we make no representations about the privacy policies or practices of the Linked Sites, and we are not responsible for their privacy practices.
                    Be careful of disclosing any of your personally identifiable information when leaving our site.  We encourage you to be aware when you leave our site and to read the privacy statements of every website that collects personally identifiable information.
                </p>

                <h3 class="margin-t-40 font-18 text-black">CHILDREN'S PRIVACY</h3>
                <p>The site is not intended or designed for individuals under the age of 18.  We do not collect personally identifiable information from any person we actually know is a child under the age of 18.</p>

                <h3 class="margin-t-40 font-18 text-black">CALIFORNIA PRIVACY RIGHTS</h3>
                <p>Pursuant to California Civil Code Section 1798.83, users who are California residents can request certain information about the sharing of their own personal information with third parties for direct marketing purposes during the past year.  The information which you have a right to receive includes the categories of personal information disclosed by us for direct marketing purposes during the preceding calendar year and the names of the companies that received such information.  You are entitled to receive a copy of this information in a standardized format, and the information will not be specific to you individually. </p>
                <p>California residents can request this disclosure by sending a request to us using the contact information provided above.  Please provide sufficient information to allow us to identify you in our records.</p>

                <h3 class="margin-t-40 font-18 text-black">QUESTIONS / CONCERNS</h3>
                <p>If you believe that the site is not following this stated Policy, you may contact us at the postal address or email address provided above.</p>
            </div>
            <p class="text-center margin-t-40 font-18">
                <a href="#" ng-click="staticcontent.goBack($event)" ng-bind="staticcontent.goBackText"></a>
            </p>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>