﻿<div class="container">
    <div class="row top-register">
        <div class="col-md-2"></div>
        <div class="col-md-8">

            <div class="font-18 terms-and-conditions">

                <h3 class="margin-t-40 font-18 text-black">TERMS OF USE</h3>
                <p>These Terms of Use, along with the information and policies contained in the "Customer Service" section of our website, the Privacy Policy, and any other documents referred to herein (collectively, these "Terms") set out the legal terms and conditions applicable to your ("You" or "Your") use of our website http://www.luxurymarket.com (the "Site"), any of its subdomains, and any other websites operated by our company or on our behalf and any other services we offer.</p>
                <p>This Site is owned and operated by Luxury Market LLC ("Luxury Market", "Us", "Our", or "We").  You may use this Site only subject to Your acceptance of and compliance with these Terms.  If You do not agree with these Terms, You may not use the Site.  If You use the Site, or if You order merchandise through the Site, We accept this as Your acknowledgement and acceptance of these Terms.</p>
                <p>You acknowledge that Your use of the Site is at Our discretion, and Your license to use the Site may be terminated by Us at any time.  We reserve the right, at Our sole discretion, to refuse service, to terminate any user’s account, and to alter or delete any material submitted to the Site through a user’s account.</p>

                <h3 class="margin-t-40 font-18 text-black">CHANGES TO THESE TERMS</h3>
                <p>Any changes to these Terms will be included in a revised version of these Terms accessible through the Site.  If You do not accept any revisions made to these Terms, You must stop using the Site.</p>

                <h3 class="margin-t-40 font-18 text-black">PURPOSE OF THE SITE</h3>
                <p>The purpose of the Site is to provide a business-to-business luxury marketplace focused on connecting suppliers throughout the world with retailers.  The Site allows You to apply for a registration account through which You can advertise and sell, or shop for a purchase, luxury apparel and accessories (the "Services").</p>
                <p>When a user purchases merchandise using the Site (they are a "Buyer"), he or she is purchasing that merchandise from third party suppliers ("Suppliers") whose merchandise is listed on the Site.  The contract for the purchase of the merchandise is facilitated by Luxury Market, but the transaction is ultimately between and among the Buyer and the relevant Suppliers.  We are acting as an agent on behalf of the Suppliers, which are the principals. The Buyer is not purchasing the merchandise from Luxury Market and, similarly, the Supplier is not selling the goods to Luxury Market. </p>

                <h3 class="margin-t-40 font-18 text-black">RESTRICTIONS ON YOUR USE OF THE SITE</h3>
                <p>We grant You a limited, nonexclusive and revocable license to make use of the Site.  You agree to use this Site only for lawful purposes and in accordance with these Terms.  Your use of this Site may be terminated by Us at Our discretion.  Luxury Market reserves the right to determine, limit, provide, and withdraw access to the Site.  This includes all Buyers, Suppliers and their associated team members.  This Site may not be used by individuals under the age of 18.  Without limiting the foregoing, You specifically agree that You shall not:</p>
                <ul>
                    <li>(a) submit information that is untrue, harassing, abusive, threatening, advertising, soliciting, advocating an illegal activity, or in violation of any law</li>
                    <li>(b) access, download or copy any other user’s account information</li>
                    <li>(c) bypass any technical measures used to prevent or restrict access to any portion of the Site</li>
                    <li>(d) violate or attempt to violate the security of the Site</li>
                    <li>(e) interfere with or attempt to interfere with the proper working of the Site</li>
                    <li>(f) engage in any unauthorized use of content and materials included on the Site which, unless otherwise noted, is owned by Us</li>
                    <li>(g) make commercial use of the Site beyond the uses contemplated herein or modify, adapt, translate, copy, reproduce, imitate, distribute, publish or resell the Site or any of the content on the Site</li>
                    <li>(h) use any data mining, robots, or similar automated data gathering and extraction tools to access the Site</li>
                    <li>(i) reverse engineer, decompile or disassemble the Site, or convert into human readable form any of the contents of this Site not intended to be so read.</li>
                </ul>

                <h3 class="margin-t-40 font-18 text-black">ACCOUNT REGISTRATION POLICIES</h3>
                <p>In order to use or access certain areas of the Site and certain Services, You must specifically apply for an account, be approved by Luxury Market, and receive written authorization to register an account and use the Site.  You agree and warrant that all information You provide to Us directly and/or through this Site, including but not limited to any contact information and other registration information, is truthful and accurate.  You further agree that We may conduct a credit check on You as part of Our evaluation and approval process.  You further agree to maintain the accuracy of Your account information and to inform Us promptly of any changes to Your account information, including but not limited to any changes to Your email address.  You are responsible for all activities that occur under Your account.  Do not disclose Your account password to others, and notify Us immediately of any unauthorized use of Your account.  We are not responsible for any loss or other injury that You may incur as a result of someone else using Your user account or password, either with or without Your knowledge.  By creating an account with Us, You consent to receive communications from Us electronically via the e-mail address associated with Your account.  We reserve the right to send You informational email messages about Your account or administrative notices regarding the site, as permitted under the CAN-SPAM Act (15 U.S.C. §7701 et seq.).  You agree that any and all communications sent to You electronically via the e-mail address associated with Your account satisfy any legal requirement that such communications be in writing.  You or We may terminate Your account at any time for any reason.</p>

                <h3 class="margin-t-40 font-18 text-black">BUYER SERVICES AND OBLIGATIONS</h3>
                <p>The Services We offer allow the Buyer to search through the Site and purchase merchandise from a wide range of Suppliers. As part of the Services, Luxury Market also facilitates supporting Services such as, but not limited to, product delivery and customer service. However, as stated above, the contract for the purchase of the merchandise is between the Buyer and the relevant Supplier(s). This means that it is the Supplier (not Luxury Market) who is legally responsible for selling the merchandise to the Buyer.</p>
                <p>All merchandise will ship using the delivery logistics service provided by Luxury Market.  As a result, the Buyer is entering into a contract for delivery Services provided by Us. We have the right to charge for these Services, and all delivery fees will be clearly presented prior to each purchase. Your contract with Us is concluded once the merchandise has been delivered to Our agreed upon end destination and all payments are complete.</p>
                <p>By submitting an order, the Buyer agrees to purchase the selected merchandise from the relevant Supplier(s). All orders are subject to these Terms, which are incorporated into the purchase order between the Buyer and the relevant Supplier. The Buyer also acknowledges that they are authorized by their employing retailer and their financial institution and has sufficient funds to cover the purchase.  The Site allows the Buyer to check orders and correct any errors before completing a purchase.  Once the order is placed, the Buyer is responsible for purchasing the exact goods ordered in terms of products, quantities, size, color, etc.  In addition, the Buyer is responsible for assessing any additional freight and duties charges to understand the fully landed costs of the merchandise before submitting their order.  Legal title to the product purchased will pass to the Buyer upon receipt of payment in full and the goods being delivered to the agreed upon address specified by the Buyer.</p>

                <h3 class="margin-t-40 font-18 text-black">MERCHANDISE & PRICING</h3>
                <p>Luxury Market presents merchandise descriptions and images as accurately as possible on the Website.  However, as the descriptions are often based on information provided to Us by the Suppliers, We cannot guarantee that all details are accurate, complete or error free. Please contact Our Customer Service team if You would like more information about specific merchandise. The images of the merchandise on the Website are for illustrative purposes only, and although, for example, We attempt to display colors accurately, We cannot guarantee that Your computer's display of the images accurately reflect the true color of the merchandise.</p>
                <p>We do not allow Suppliers to offer flawed items or merchandise of lower quality than the corresponding market standards for sale on the Site. If an item ordered is not as described, is flawed, or is of a lower quality, We will work with the Supplier on Your behalf. The Buyer will receive a full refund of the defective product, or alternatively a discount, replacement or repair for the item where possible, agreed on a case by case basis by Us. We will refund any applicable delivery charges and any reasonable costs incurred in returning the merchandise (We will advise You whether the merchandise will be collected from You or whether You need to arrange for them to be returned).</p>
                <p>Although Our objective is to provide fully accurate details, descriptions, and prices, We cannot guarantee the accuracy of such information and there may be cases where errors occur.  The price You see may vary depending upon the country from which You access the Site.  Further, the prices available to Buyers will include Luxury Market’s commission.  Luxury Market attempts to provide accurate information regarding all retail prices and discounts, but acknowledges that prices can vary for many reasons.  As a result, the Buyer is accountable for verifying all retail prices and discounts prior to purchase.  An error in retail price and/or discount will not be viewed as sufficient grounds to cancel an existing purchase order.</p>
                <p>If We discover an error in the actual price of the merchandise offered on the site, Luxury Market will inform the Buyer of this as soon as possible and, acting on behalf of the Supplier, give the Buyer the option of reconfirming the order at the correct price or cancelling it. If Luxury Market is unable to contact the Buyer within one business day, the order will be treated as cancelled. If the Buyer chooses to cancel and has already paid for the merchandise, the Buyer will receive a refund.</p>

                <h3 class="margin-t-40 font-18 text-black">DELIVERY & RETURN POLICY</h3>
                <p>Once a purchase order is submitted and confirmed, the Buyer is obligated to purchase and receive the goods, with an exception solely for damaged and defective merchandise.  Any claims to damages must be received within one business day of receiving the goods and are at the sole discretion of Luxury Market to accept such claims.  In the absence of an accepted claim for damaged or defective merchandise, all sales are final.</p>
                <p>The estimated delivery date of the merchandise will be stated in Your order confirmation email.  Delivery dates may vary depending on the availability of the merchandise and Your delivery address.  All delivery information should be considered an estimate and cannot be guaranteed. </p>

                <h3 class="margin-t-40 font-18 text-black">SUPPLIER SERVICES AND OBLIGATIONS</h3>
                <p>In order to use Our Site and Services, the Supplier agrees that all posted merchandise is authentic, in original unused condition and available for purchase by Our Buyers.  The Supplier validates that it is in possession of all the merchandise at the time of posting and can provide all required evidence and documentation pertaining to all merchandise it sells.  Suppliers are not authorized to publish goods that are not under their specific control and physical domain at the time of offer.  After submitting merchandise to Luxury Market, the Supplier agrees to maintain accurate inventory quantities on the site and fulfill all confirmed orders for Luxury Market Buyers.</p>
                <p>The Suppliers agrees that the merchandise it posts to the site is accurate in terms of brand, product, material, color, size and description.  When Suppliers provide images or descriptions to Luxury Market, they grant Luxury Market the unlimited right to reproduce, display, and use those images and descriptions on the Site.  This includes the right to reuse photographs or descriptions on the Site to advertise merchandise from other Suppliers that, in the opinion of Luxury Market, is substantially similar to the merchandise depicted in the provided image or description.</p>
                <p>In addition, the Supplier agrees to adhere to all shipping and logistics processes as agreed upon by both the Supplier and Luxury Market.  This includes providing and adhering to shipping timelines and packaging requirements as defined and agreed to by Luxury Market and the Supplier.</p>
                <p>Luxury Market, the Supplier and Our designated logistics provider will agree to defined quality control procedures at the logistics provider’s facilities (the “Quality Control Procedures”).  All orders will pass Quality Control Procedures before payment and shipping documents are released.</p>
                <p>Our expectation is that all Suppliers using the Site have and maintain reasonable business policies which comply with Our own business policies.  However, Luxury Market is not responsible in any way for the Supplier’s business policies.  Luxury Market reserves the right to suspend, restrict or discontinue any Supplier relationship at any time for any reason without notice or warning.  To the extent there is any conflict between these Terms and a Supplier’s business policies, these Terms will control.</p>

                <h3 class="margin-t-40 font-18 text-black">SUBMISSION OF CONTENT AND USER ACTIVITY</h3>
                <p>You understand that all information, communications, data, text, photographs, scans, or other materials (“Content”) are the sole responsibility of the person or company from which such Content originated.  This means that You, and not Luxury Market, are entirely responsible for all Content that You upload, post, email, transmit or otherwise make available through the Site.</p>
                <p>You grant the following license with respect to any and all Content You post or submit to this Site:  You hereby expressly grant to Luxury Market a royalty-free, perpetual, non-exclusive, irrevocable right and license to use, reproduce, adapt, modify, publish, edit, translate, perform, transmit, exploit, sublicense or otherwise distribute and display the Content submitted in connection with the Site and its advertising, without restriction and without compensation of any kind to You, and You waive all moral rights in all such Content.  This grant is limited to uses related to the Site and the promotion thereof.  Luxury Market agrees that it will not use your Content in a manner unrelated to the Site without Your express permission.</p>
                <p>You represent and warrant that You own or otherwise control all the rights to any Content that You upload, transmit or otherwise make available through the Site; that use of the Content You provide does not violate the intellectual property rights or any other rights of any third parties, and that use of the Content You provide will not cause injury to any person or entity.  In line with, and without limiting, the foregoing, You specifically agree that You will not: </p>
                <ul>
                    <li>(a) provide any Content that is unlawful (according to local, state, federal or international law) or any Content that advocates illegal activity;</li>
                    <li>(b) provide any Content that is defamatory, false or libelous, or that contains unlawful, harmful, threatening, harassing, discriminatory, abusive, profane, pornographic or obscene material;</li>
                    <li>(c) provide any Content that You do not have a right to provide under law or under a contractual or fiduciary relationship; </li>
                    <li>(d) provide any Content that contains software viruses or other harmful devices;</li>
                    <li>(e) impersonate any other person or entity or forge headers or otherwise manipulate identifiers in order to disguise the origin of any Content You provide.</li>
                </ul>
                <p>You acknowledge, consent and agree that Luxury Market may access, preserve and disclose Your account information and any Content You submit if required to do so by law or in a good faith belief that such access preservation or disclosure is reasonably necessary to:  (a) comply with legal process; (b) enforce this Agreement; (c) respond to claims that any Content violates the rights of third-parties; (d) respond to Your requests for customer service; or (e) protect the rights, property, or personal safety of Luxury Market, its affiliates, its personnel, other users and the public.</p>
                <p>Luxury Market does not guarantee the accuracy, integrity or quality of any Content.  You understand that by using the Site, You may be exposed to Content that is inaccurate, offensive, indecent or objectionable.  Under no circumstances will Luxury Market be liable in any way for any Content, including, but not limited to, any errors or omissions in any Content, or for any loss or damage of any kind incurred as a result of the use of any Content posted, emailed, transmitted or otherwise made available via the Site and/or associated Services.</p>
                <p>The opinions expressed in Content on this Site are not necessarily those of Luxury Market or its content providers, advertisers, sponsors, affiliated or related entities.  Luxury Market makes no representations or warranties regarding any information or opinions posted to or otherwise included on or transmitted through the Site.  Luxury Market does not represent or guarantee the truthfulness, accuracy, or reliability of any Content or determine whether the Content violates the rights of others.  You acknowledge that any reliance on material posted by other users will be at Your own risk.</p>
                <p>You acknowledge that Luxury Market is not obligated to pre-screen, regularly review, monitor, delete or edit the Content of the web site.  However, Luxury Market reserves the right to do so at any time at its sole discretion, either itself or through its designees, for any reason or no reason, and to edit or delete any posting or submission with or without notice.  Without limiting the foregoing, You agree that Luxury Market and its designees have the right to edit or remove any Content that violates these Terms or that Luxury Market otherwise finds objectionable.  Luxury Market is not responsible or liable for damages of any kind arising from any Content, or from Luxury Market’s alteration or deletion of any Content, even when Luxury market is advised of the possibility of such damages.</p>

                <h3 class="margin-t-40 font-18 text-black">DISCLAIMER OF WARRANTIES</h3>
                <p>THIS SITE, ITS CONTENT, AND ANY ASSOCIATED SERVICES OR MATERIALS ARE PROVIDED ON AN “AS IS” AND “AS AVAILABLE” BASIS.  LUXURY MARKET MAKES NO REPRESENTATIONS OR WARRANTIES OF ANY KIND, EXPRESS OR IMPLIED, AS TO THE OPERATION OF THIS SITE, OR THE INFORMATION, CONTENT, OR MATERIALS INCLUDED WITH THIS SITE.  TO THE FULLEST EXTENT PERMISSIBLE BY APPLICABLE LAW, LUXURY MARKET DISCLAIMS ANY AND ALL IMPLIED WARRANTIES, INCLUDING BUT NOT LIMITED TO IMPLIED WARRANTIES OF TITLE, MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE, OF WORKMANLIKE EFFORT, OF SUITABILITY, AVAILABILITY, ACCURACY, RELIABILITY, COMPLETENESS OR TIMELINESS OF CONTENT, OR OF NON-INFRINGEMENT, AS WELL AS WARRANTIES ARISING THROUGH COURSE OF DEALING OR USAGE OR TRADE.  FURTHER, LUXURY MARKET MAKES NO REPRESENTATIONS OR WARRANTIES THAT THIS SITE AND/OR ITS CONTENTS ARE ACCURATE, COMPLETE, RELIABLE, CURRENT OR ERROR-FREE.</p>
                <p>BY USING THE SITE, YOU ACKNOWLEDGE THAT YOUR USE OF THE SITE IS SOLELY AT YOUR OWN RISK.  LUXURY MARKET DOES NOT WARRANT OR GUARANTEE THAT ANY COMPONENT OF THE SITE IS FREE OF VIRUSES, WORMS OR OTHER HARMFUL COMPONENTS.  LUXURY MARKET DOES NOT GUARANTEE THE CONTINUOUS, UNINTERRUPTED AND ERROR-FREE OPERATION OF THIS SITE, NOR THAT ALL COMMUNICATIONS WILL BE SECURE FROM ACCESS OR INTERFERENCE BY THIRD PARTIES.</p>
                <p>LUXURY MARKET IS NOT LIABLE FOR ANY DAMAGES OF ANY KIND ARISING FROM OR OTHERWISE RELATED TO YOUR USE OF OR INABILITY TO USE THIS SITE, EVEN IF LUXURY MARKET HAS BEEN ADVISED OF OR SHOULD HAVE KNOWN OF THE POSSIBILITY OF SUCH DAMAGES.  YOU ARE SOLELY RESPONSIBLE FOR COMPLIANCE WITH APPLICABLE LOCAL LAWS CONNECTED WITH YOUR USE OF THE SITE.</p>
                <p>CERTAIN STATE LAWS DO NOT ALLOW LIMITATIONS ON IMPLIED WARRANTIES OR THE EXCLUSION OR LIMITATION OF CERTAIN DAMAGES.  IF THESE LAWS APPLY TO YOU, SOME OR ALL OF THE ABOVE DISCLAIMERS, EXCLUSIONS OR LIMITATION MAY NOT APPLY TO YOU, AND YOU MAY HAVE ADDITIONAL RIGHTS.</p>

                <h3 class="margin-t-40 font-18 text-black">INDEMNIFICATION</h3>
                <p>You agree to indemnify, defend and hold harmless Luxury Market and its respective agents, affiliates, and their officers, directors and employees, from and against any claim, demand, damages, cost and expenses, including reasonable attorney fees, arising from or related to Your use of this Site and the Services provided in connection with the Site, or Your breach of any provision of these Terms or any warranty provided hereunder.</p>

                <h3 class="margin-t-40 font-18 text-black">OWNERSHIP OF COPYRIGHTS AND TRADEMARKS</h3>
                <p>All trademarks, logos, and service marks displayed on the Site are owned by Luxury Market and third parties, and the Site’s trade dress is owned by Luxury Market.  Excluding any user generated or posted content, which is owned by the Site’s users, all copyrightable contents of the Site, including code, materials, artwork, and information provided by or through the Site, is owned by Luxury Market or third parties.</p>

                <h3 class="margin-t-40 font-18 text-black">COPYRIGHT INFRINGEMENT CLAIMS</h3>
                <p>Luxury Market respects the intellectual property rights of third parties, and complies with the terms of the Digital Millennium Copyright Act (DMCA) regarding such rights.  Luxury Market reserves the right to remove access to infringing material posted to its Site.  Such actions do not affect or modify any other rights Luxury Market may have under law or contract.</p>
                <p>If You believe that any portion of the material contained on this Site infringes Your copyright, notify Luxury Market of Your claim in accordance with the following procedure.  We will take appropriate action as required by the Digital Millennium Copyright Act (DMCA), 17 U.S.C. § 512(c)(3).</p>
                <p>Written Notification must be submitted to this site’s Designated Agent:</p>
                <p>Mr. Keith George</p>
                <p>230 West 38th Street</p>
                <p>New York, NY 10018</p>
                <p>To be effective, the Notification must be in writing and contain the following information:</p>
                <ul>
                    <li>1. A physical or electronic signature of a person authorized to act on behalf of the owner of an exclusive right that is allegedly infringed;</li>
                    <li>2. Identification of the copyrighted work claimed to have been infringed or, if multiple copyrighted works at a single online site are covered by a single notification, a representative list of such works at that site; </li>
                    <li>3. Identification of the material that is claimed to be infringing or to be the subject of infringing activity and that is to be removed or access to which is to be disabled, and information reasonably sufficient to permit the service provider to locate the material; </li>
                    <li>4. Information reasonably sufficient to permit the service provider to contact the complaining party, such as an address, telephone number, and, if available, an electronic mail address at which the complaining party may be contacted; </li>
                    <li>5. A statement that the complaining party has a good faith belief that use of the material in the manner complained of is not authorized by the copyright owner, its agent, or the law; </li>
                    <li>6. A statement that the information in the notification is accurate and, under penalty of perjury, that the complaining party is authorized to act on behalf of the owner of an exclusive right that is allegedly infringed.</li>
                </ul>
                <p>Upon receipt of the written Notification containing the information outlined above, Luxury Market will:</p>
                <ul>
                    <li>1. Remove or disable access to the material that is alleged to be infringing; </li>
                    <li>2. Forward the written notification to such alleged infringer; </li>
                    <li>3. Take reasonable steps to promptly notify the alleged infringer that it has removed or disabled access to the material.</li>
                </ul>
                <p>A Counter Notification will be effective if in writing, provided to the Designated Agent, and including substantially the following:</p>
                <ul>
                    <li>1. A physical or electronic signature of the alleged infringer;</li>
                    <li>2. Identification of the material that has been removed or to which access has been disabled and the location at which the material appeared before it was removed or access to it was disabled; </li>
                    <li>3. A statement under penalty of perjury that the alleged infringer has a good faith belief that the material was removed or disabled as a result of mistake or misidentification of the material to be removed or disabled; </li>
                    <li>4. The alleged infringer’s name, address, and telephone number, and a statement that the alleged infringer consents to jurisdiction of Federal District Court for the judicial district in which the address is located or, if outside of the United States, for any judicial district in which Luxury Market may be found, and that the alleged infringer will accept service of process from the person who provided notification or the agent of such person.</li>
                </ul>
                <p>Upon receipt of a Counter Notification containing the information outlined above, Luxury Market will:</p>
                <ul>
                    <li>1. promptly provide the complaining party with a copy of the Counter Notification;</li>
                    <li>2. inform the complaining party that it will replace the removed material within ten (10) to fourteen (14) business days following the receipt of the Counter Notification, provided Luxury Market’s Designated Agent has not received notice from the complaining party that an action has been filed seeking a court order to restrain alleged infringer from engaging in infringing activity relating to the material on Luxury Market’s network or system.</li>
                </ul>
                <p>This process only relates to reporting a claim of copyright infringement.  Messages related to other matters will not receive a response through this process.</p>

                <h3 class="margin-t-40 font-18 text-black">PRIVACY POLICY</h3>
                <p>You acknowledge that You have read and agreed to Our Privacy Policy, which is available <a href="#/auth/policies" class="pointer" target="_blank">here</a> </p>

                <h3 class="margin-t-40 font-18 text-black">THIRD PARTY SITES</h3>
                <p>This Site may link You to other sites on the Internet (“Linked Sites”).  The Linked Sites are not under Luxury Market’s control, and LUXURY MARKET is not responsible for the contents of any Linked Sites, including without limitation the accuracy, copyright compliance, legality, or decency of the Linked Sites or any links contained therein. These links are provided for Your convenience, and do not imply an endorsement of the Linked Sites by Luxury Market or any association of its operators.</p>

                <h3 class="margin-t-40 font-18 text-black">SEVERABILITY</h3>
                <p>Each of the sections and paragraphs of these Terms and Conditions operates on it’s own. If any court of law or relevant authority deems any of them as unlawful or unenforceable, the remaining sections and paragraphs will remain in full force and effect.</p>

                <h3 class="margin-t-40 font-18 text-black">WAIVER AND FORCE MAJEURE</h3>
                <p>Failure by Us to enforce these Terms does not constitute a waiver of Our rights under these Terms.  In addition, Luxury Market will not be liable or responsible for any failure to perform, or delay in performance of, any of Our obligations to You if such failure or delay is caused by an event outside of Our control.  An event outside of Our control means any act or event beyond Our or the Partners reasonable control such as act(s) of God, wars, terrorist attacks, embargos, thefts, riots, strikes, lock-outs, trade disputes, fires, floods, earthquakes or other natural disasters, break-down, inclement weather, interruption of transport, Government action or failure of public or private telecommunications or transport networks.</p>

                <h3 class="margin-t-40 font-18 text-black">RESOLUTION OF DISPUTES</h3>
                <p>The laws of the State of New York, United States, will govern these Terms and any dispute of any sort that may arise between Us.  Regardless of where You access this Site, You agree that any action arising out of Your use of the Site must be brought in the state or federal courts serving New York, New York, USA, and You hereby irrevocably and unconditionally consent to the exclusive personal jurisdiction of such courts.</p>

                <h3 class="margin-t-40 font-18 text-black">CONTACT INFORMATION</h3>
                <p>If You have any questions regarding these Terms, please contact Luxury Market at:</p>
                <p>
                    Luxury Market LLC<br />
                    230 West 38th Street<br />
                    New York, New York 10018<br />
                    support@luxurymarket.com
                </p>

                <p class="text-center margin-t-40">
                    <a href="#" ng-click="staticcontent.goBack($event)" ng-bind="staticcontent.goBackText"></a>
                </p>

            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>