﻿<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="adSetMain.close()">&times;</button>
    <p class="modal-title">{{'SET_MAIN'| translate}}</p>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <p class="message-delete">{{'QUESTION_SET_MAIN_ADDRESS'| translate}}</p>
        </div>
    </div>
</div>
<div class="modal-footer">
    <div class="row">
        <div class="col-md-6 col-xs-6 text-left">
            <button class="btn-lm btn-lm-cancel margin-b-20" ng-click="adSetMain.close()">{{'NO'| translate}}</button>
        </div>
        <div class="col-md-6 col-xs-6 text-right">
            <button class="btn-lm btn-lm-save margin-b-20" ng-click="adSetMain.setMain()">
                {{'YES'| translate}}
                <i class="fa fa-spinner spinning" ng-show="adSetMain.isLoading"></i>
            </button>
        </div>
    </div>
</div>
