﻿
// Colors
$white: #fff;
$light-white: #FBFBFB;
$white-2: #f7f7f7;

$black: #000;
//$gray: #747474;


$gray: #808080;
$gray-lighten-1: #e0e0e0;
$gray-lighten-2: #bfbfbf;
$gray-lighten-3: #a3a3a3;
$gray-lighten-4: #919191;
$gray-lighten-5: #f5f5f5;
$gray-lighten-6: #e5e5e5;
$gray-lighten-7: #d1d1d1;
$gray-lighten-8: #afafaf;
$gray-lighten-9: #7d7d7d;
$gray-light-1: #D3D3D3;
$gray-light-2: #E0E8EC;
$gray-1: #888888;
$gray-2: #aba9a9;
$gray-3: #aaa9a9;
$gray-4: #B0B0B0;
$very-light-gray: #ededed;
$gray-gray: #F2F2F2;
$gray-darker-1: #494949;
$gray-arrow: #B3B3B3;
$light-gray: #cbcbcb;
$middle-gray: #555;
$dark-gray: #383838;
$dark-gray-1: #3D3D3D;
$dark-gray-2: #444444;


$pale-yellow: #ffeaab;

$blue: #0057FF;
$medium-blue: #4597c2;
$medium-blue-1: #4490B8;
$blue-2: #5598bd;

$brown: #725614;

$green: #8AB300;
$green-1: #9bd056;
$light-green: rgba(138, 179,0, 0.7);
$green-2: #aace46;
$green-3: #95b94b;

$orange: #F48600;
$orange-1: #ffa60b;
$moderat-orange: #c99947;

$pink: #E457D7;

$purple: #653D93;

$red: #DA1B00;
$red: #e98787;
$red-1: #e18b87;
$red-2: #ea5555;
$red-3: #fe2626;
$red-4: #e84343;
$red-5: #cb2121;
$red-6: #e84a4a;
$red-error: #e26f6f;
$light-red: rgba(233, 135, 135, 0.7);

$yellow: #FCF100;

$green: #438112;

// Font weight
$lighter: lighter;

$light-weight: 400;

$medium-weight: 500;

$heavy-weight: 600;

// Text transform

$upper-text: uppercase;

$lower-text: lowercase;

$capital-text: capitalize;

// Text decoration

$underline: underline;

// -- Responsive Media queries --

// Extra small screen/ phone
$screen-xs: 480px;

// Small screen/ tablet
$screen-sm: 768px;

//Medium screen/ desktop
$screen-md: 991px;

// Large screen
$screen-lg: 1199px;

// More Large screen
$screen-more-lg: 1600px;

// Landscape screen
$screen-land: 1024px;
