﻿<div class="container create-password-page">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-2"></div>
        <div class="col-lg-6 col-md-6 col-sm-8 col-xs-12 text-center password-container">
            <h1 class="title-page margin-b-30">one more step</h1>
            <h1 class="text margin-b-40">Setup your password for the account <span class="bold">{{reset.setupPasswordModel.email}}</span></h1>
            <div class="row">
                <div class="col-lg-2 col-md-1 col-sm-1"></div>
                <div class="col-lg-8 col-md-10 col-sm-10 col-xs-12">
                    <form name="reset.setupPasswordForm" novalidate
                          ng-submit="reset.submit()" ng-if="!reset.isCheckingToken && reset.TokenValidationResponseType.Valid === reset.tokenValidationStatus">
                        <div class="submit-error" ng-show="reset.hasError">{{reset.error_message}}</div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group show-error">
                                    <label class="floating"
                                           ng-if="reset.setupPasswordForm.password.$dirty && !reset.setupPasswordForm.password.$error.required">Password</label>
                                    <input id="contactname" class="input-text"
                                           maxlength="35" name="password" placeholder="Password"
                                           type="password" required autocomplete="off" autofocus="true"
                                           ng-class="{ 'error-text': reset.validateField('password')}"
                                           ng-model="reset.setupPasswordModel.password">
                                    <password-check-preconditions ng-model="reset.setupPasswordModel.password"></password-check-preconditions>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group show-error">
                                    <label class="floating"
                                           ng-if="reset.setupPasswordForm.confirmPassword.$dirty && !reset.setupPasswordForm.confirmPassword.$error.required">Confirm password</label>
                                    <input id="contactname" class="input-text"
                                           maxlength="35" name="confirmPassword" placeholder="Confirm password"
                                           type="password" required autocomplete="off"
                                           ng-class="{ 'error-text': reset.validateField('confirmPassword') }"
                                           ng-model="reset.setupPasswordModel.confirmPassword"
                                           compare-to="reset.setupPasswordModel.password">
                                    <div class="error-messages" role="alert"
                                         ng-messages="reset.setupPasswordForm.confirmPassword.$error"
                                         ng-if="reset.validateField('confirmPassword')">
                                        <div class="message" ng-message="required">
                                            Field is required
                                        </div>
                                        <div class="message" ng-message="compareTo">
                                            Passwords don't match
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <button class="btn-lm btn-lm-single" type="submit"
                                            ng-disabled="reset.isLoading">
                                        submit
                                        <i class="fa fa-spinner spinning" ng-show="reset.isLoading"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="font-18" ng-if="reset.isCheckingToken || reset.TokenValidationResponseType.Valid !== reset.tokenValidationStatus">
                        <div ng-if="reset.TokenValidationResponseType.InvalidOrExpiredToken === reset.tokenValidationStatus">
                            Your Token is invalid or expired. <br />Please contact customer service.<br /> Thank you!
                        </div>
                        <div ng-if="reset.TokenValidationResponseType.InvalidUser === reset.tokenValidationStatus">
                            We are unable to find the user. Please contact customer service.
                            <br /> Thank you!
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-1 col-sm-1"></div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-2"></div>
    </div>
</div>
