<!-- Footer -->
<div class="container top-footer register-footer">
  <div class="row footer-m">
    <div class="col-sm-12 col-md-5 col-sm-4 col-xs-3">
        <span class="border-l"></span>
    </div>
    <div class="col-sm-12 col-md-2 col-sm-4 col-xs-6">
        <img src="images/logos/2.png" alt="">
    </div>
    <div class="col-sm-12 col-md-5 col-sm-4 col-xs-3">
        <span class="border-l"></span>
    </div>
  </div>
  <div class="row footer-top">
    <div class="col-lg-5 col-md-5 col-sm-7 col-xs-12 new-navigation center-footer">
        <a href="#" class="page" ui-sref="auth.static.customer-service" ui-sref-active="toHide">customer service</a>
        <a href="#" class="page" ui-sref="auth.register" ui-sref-active="toHide">create account</a>
        <a href="#" class="page" ui-sref="auth.login" ui-sref-active="toHide">login</a>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-1"></div>
    <div class="col-lg-3 col-md-3 col-sm-4 hidden-xs">
        <p class="signature">&copy;Luxury Market 2017 </p>
    </div>
  </div>
</div>
