﻿<div class="container forgot-password-page">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-2"></div>
        <div class="col-lg-6 col-md-6 col-sm-8 col-xs-12 text-center margin-t-30 xs-screen forgot-container">
            <div class="title">forgot your password?</div>
            <div class="sub-title margin-t-20">If you have forgotten your password, please enter your account's email address or username below and click the "Reset Password" button. You will receive an email that contains a link to set a new password.</div>
            <div class="row">
                <div class="col-lg-2 col-md-1 col-sm-2"></div>
                <div class="col-lg-8 col-md-10 col-sm-8 col-xs-12 margin-t-30">
                    <form name="forgotpass.forgotForm" ng-submit="forgotpass.changePassword()"
                      novalidate>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group show-error">
                                    <label class="floating"
                                      ng-if="forgotpass.forgotForm.email.$dirty && !forgotpass.forgotForm.email.$error.required">Email</label>
                                    <input class="input-text" maxlength="35" name="email"
                                      placeholder="Email" type="text" required autofocus="true"
                                      ng-model="forgotpass.forgotPasswordModel.email"
                                      ng-pattern="/^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,10}$/i"
                                      ng-class="{ 'error-text': forgotpass.validateField('email') }">
                                    <span class="valid-message error-icon">
                                      <i class="" aria-hidden="true"
                                        ng-class="{ 'lm-check': forgotpass.forgotForm.email.$valid, 'lm-uncheck': forgotpass.validateField('email'), 'invalid-input': forgotpass.validateField('email') }"></i>
                                    </span>
                                    <div class="error-messages" role="alert"
                                      ng-messages="forgotpass.forgotForm.email.$error"
                                      ng-if="forgotpass.validateField('email')">
                                        <div class="message" ng-message="pattern">Your email is not valid!</div>
                                        <div class="message" ng-message="required">Field is required</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                              <div class="submit-error" ng-show="forgotpass.hasError">{{forgotpass.error_message}}</div>
                              <div class="form-group">
                                  <button class="btn-lm btn-lm-single" type="submit"
                                    ng-disabled="forgotpass.forgotForm.$dirty && (forgotpass.forgotForm.$invalid || forgotpass.isLoading)">
                                      reset password
                                      <i class="fa fa-spinner spinning" ng-show="forgotpass.isLoading"></i>
                                  </button>
                              </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <a ui-sref="auth.login" class="standard-text underline-none">Back to Login</a>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-lg-2 col-md-1 col-sm-2"></div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-2"></div>
    </div>
</div>

<!-- New footer -->
<!--<div id="top-footer">
    <div class="container footer-m nopadding">
        <div class="row">
            <div class="col-sm-12 col-md-5 col-sm-4 col-xs-3">
                <span class="border-l"></span>
            </div>
            <div class="col-sm-12 col-md-2 col-sm-4 col-xs-6">
                <img src="assets/images/logos/2.png" alt="">
            </div>
            <div class="col-sm-12 col-md-5 col-sm-4 col-xs-3">
                <span class="border-l"></span>
            </div>
        </div>
    </div>
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-5 col-sm-6 col-xs-8 navigation">
                    <a href="#" class="page">customer service</a>
                    <a href="#" class="page">create account</a>
                    <a href="#" class="page last-page">login</a>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-2"></div>
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4">
                    <p class="signature">&copy;Luxury Market 2017 </p>
                </div>
            </div>
        </div>
    </div>
</div>-->
